Dashboard_50%.txt
[
    {
        "id": "83d34779.b1ac98",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a6dbfd3a.33c42",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "8c79a381.1f18",
        "order": 8,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 791.4286193847656,
        "y": 195.71428632736206,
        "wires": []
    },
    {
        "id": "73ac9fb4.caa91",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "8c79a381.1f18",
        "order": 6,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 788.4285888671875,
        "y": 152.2857208251953,
        "wires": []
    },
    {
        "id": "a9e73972.ca9428",
        "type": "comment",
        "z": "83d34779.b1ac98",
        "name": "Cocina",
        "info": "",
        "x": 375.7142906188965,
        "y": 81.42856788635254,
        "wires": []
    },
    {
        "id": "b4fad593.157498",
        "type": "comment",
        "z": "83d34779.b1ac98",
        "name": "Habitación",
        "info": "",
        "x": 791.4285714285713,
        "y": 75.71428571428571,
        "wires": []
    },
    {
        "id": "44ffecc9.86e6d4",
        "type": "comment",
        "z": "83d34779.b1ac98",
        "name": "Baño",
        "info": "",
        "x": 361.1428527832031,
        "y": 470.8571472167969,
        "wires": []
    },
    {
        "id": "fba3667d.505e58",
        "type": "comment",
        "z": "83d34779.b1ac98",
        "name": "Salón",
        "info": "",
        "x": 787,
        "y": 385.1428527832031,
        "wires": []
    },
    {
        "id": "d37572a3.7c4ee",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "3d14af57.f7189",
        "order": 1,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "Registro de temperaturas",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 420,
        "y": 965.7142944335938,
        "wires": []
    },
    {
        "id": "8701d19f.5dd0e",
        "type": "ui_slider",
        "z": "83d34779.b1ac98",
        "name": "",
        "label": "Iluminación",
        "tooltip": "",
        "group": "8c79a381.1f18",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 811,
        "y": 241,
        "wires": [
            []
        ]
    },
    {
        "id": "366e4121.b5af5e",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "8c79a381.1f18",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 812,
        "y": 286,
        "wires": []
    },
    {
        "id": "b8df80d7.5c5d3",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "8c79a381.1f18",
        "order": 5,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 798,
        "y": 323,
        "wires": []
    },
    {
        "id": "1ad2a784.af4b78",
        "type": "ui_slider",
        "z": "83d34779.b1ac98",
        "name": "",
        "label": "Iluminación",
        "tooltip": "",
        "group": "7a467109.e5e24",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 810,
        "y": 518,
        "wires": [
            []
        ]
    },
    {
        "id": "ab970f02.50031",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "7a467109.e5e24",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Temperatura ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 812,
        "y": 557,
        "wires": []
    },
    {
        "id": "cf7cfdd7.6312a",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "7a467109.e5e24",
        "order": 5,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 796,
        "y": 433,
        "wires": []
    },
    {
        "id": "f5b57c65.cbe3f",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "7a467109.e5e24",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 794,
        "y": 476,
        "wires": []
    },
    {
        "id": "50f16f48.83ed7",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "7a467109.e5e24",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 798,
        "y": 598,
        "wires": []
    },
    {
        "id": "32a431bd.b674de",
        "type": "ui_led",
        "z": "83d34779.b1ac98",
        "group": "7a467109.e5e24",
        "order": 8,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "grey",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 794,
        "y": 652,
        "wires": []
    },
    {
        "id": "39cdc98e.799f66",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "7a467109.e5e24",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Puerta abierta",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 816,
        "y": 699,
        "wires": []
    },
    {
        "id": "eca30162.e071f",
        "type": "ui_led",
        "z": "83d34779.b1ac98",
        "group": "7a467109.e5e24",
        "order": 8,
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "grey",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 796,
        "y": 777,
        "wires": []
    },
    {
        "id": "57c75f70.5b158",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "7a467109.e5e24",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Puerta cerrada",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 817,
        "y": 826,
        "wires": []
    },
    {
        "id": "d00f1796.031328",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "e237ca97.93f4b8",
        "order": 5,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 369,
        "y": 126,
        "wires": []
    },
    {
        "id": "e79e8360.ccfc6",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "e237ca97.93f4b8",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 365,
        "y": 176,
        "wires": []
    },
    {
        "id": "17942cff.242173",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "e237ca97.93f4b8",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 383,
        "y": 224,
        "wires": []
    },
    {
        "id": "c7c6e63e.245468",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "e237ca97.93f4b8",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 369,
        "y": 261,
        "wires": []
    },
    {
        "id": "857a57f2.836008",
        "type": "ui_led",
        "z": "83d34779.b1ac98",
        "group": "e237ca97.93f4b8",
        "order": 8,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 361,
        "y": 306,
        "wires": []
    },
    {
        "id": "2498e112.5b7c6e",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "e237ca97.93f4b8",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Air cuality",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 362,
        "y": 363,
        "wires": []
    },
    {
        "id": "390d6bc7.0d7ae4",
        "type": "ui_slider",
        "z": "83d34779.b1ac98",
        "name": "",
        "label": "Iluminación",
        "tooltip": "",
        "group": "e237ca97.93f4b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 371,
        "y": 407,
        "wires": [
            []
        ]
    },
    {
        "id": "518460af.0d4c1",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "698bd9d0.25aac8",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 362,
        "y": 570.9999766349792,
        "wires": []
    },
    {
        "id": "2b12b238.bbea8e",
        "type": "ui_gauge",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "698bd9d0.25aac8",
        "order": 5,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 358.9999694824219,
        "y": 527.5714111328125,
        "wires": []
    },
    {
        "id": "fb869902.256718",
        "type": "ui_slider",
        "z": "83d34779.b1ac98",
        "name": "",
        "label": "Iluminación",
        "tooltip": "",
        "group": "698bd9d0.25aac8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 381.5713806152344,
        "y": 616.2856903076172,
        "wires": [
            []
        ]
    },
    {
        "id": "feaa485c.7d6be8",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "698bd9d0.25aac8",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 382.5713806152344,
        "y": 661.2856903076172,
        "wires": []
    },
    {
        "id": "6b7e5add.3993f4",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "698bd9d0.25aac8",
        "order": 4,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 368.5713806152344,
        "y": 698.2856903076172,
        "wires": []
    },
    {
        "id": "87cda8e7.5f72d8",
        "type": "comment",
        "z": "83d34779.b1ac98",
        "name": "Historico",
        "info": "",
        "x": 366,
        "y": 910,
        "wires": []
    },
    {
        "id": "9f0d4d79.6b617",
        "type": "ui_chart",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "3d14af57.f7189",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 366,
        "y": 1015,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9f3d2e59.a60e3",
        "type": "ui_text",
        "z": "83d34779.b1ac98",
        "group": "6cc38041.a7c5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Registro de humedad",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 414,
        "y": 1072,
        "wires": []
    },
    {
        "id": "305e0ee1.6a3882",
        "type": "inject",
        "z": "83d34779.b1ac98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 184,
        "y": 1007,
        "wires": [
            [
                "9f0d4d79.6b617"
            ]
        ]
    },
    {
        "id": "1711d0a4.117dff",
        "type": "ui_chart",
        "z": "83d34779.b1ac98",
        "name": "",
        "group": "6cc38041.a7c5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 364,
        "y": 1131,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "307987ad.b4e448",
        "type": "inject",
        "z": "83d34779.b1ac98",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 182,
        "y": 1127,
        "wires": [
            [
                "1711d0a4.117dff"
            ]
        ]
    },
    {
        "id": "8c79a381.1f18",
        "type": "ui_group",
        "z": "",
        "name": "Habitación",
        "tab": "d46628da.e11788",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3d14af57.f7189",
        "type": "ui_group",
        "z": "",
        "name": "Temperatura",
        "tab": "74ab35ae.84578c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7a467109.e5e24",
        "type": "ui_group",
        "z": "",
        "name": "Salón",
        "tab": "d46628da.e11788",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e237ca97.93f4b8",
        "type": "ui_group",
        "z": "",
        "name": "Cocina",
        "tab": "d46628da.e11788",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "698bd9d0.25aac8",
        "type": "ui_group",
        "z": "",
        "name": "Baño",
        "tab": "d46628da.e11788",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6cc38041.a7c5d",
        "type": "ui_group",
        "z": "",
        "name": "Humedad",
        "tab": "74ab35ae.84578c",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d46628da.e11788",
        "type": "ui_tab",
        "z": "",
        "name": "PANEL DE CONTROL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74ab35ae.84578c",
        "type": "ui_tab",
        "z": "",
        "name": "HISTORICO",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]