NodeRedPrincipal
[
    {
        "id": "cb95b8f7.9b4968",
        "type": "tab",
        "label": "Telegram_trabajo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1147cc5.9871434",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch encender",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que quieres encender?",
        "answers": [
            "cocina",
            "habitacion",
            "salon",
            "toilette",
            "todo"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 649.0000114440918,
        "y": 910.0000267028809,
        "wires": [
            [
                "8f0e032c.df76"
            ],
            [
                "e84fa126.2450a"
            ],
            [
                "37f33064.6ac1c"
            ],
            [
                "2214f55f.65740a"
            ],
            [
                "f7df7ac5.0a7d18"
            ],
            [
                "fba80d54.330a8"
            ]
        ]
    },
    {
        "id": "40590e7a.8e1f9",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/encender",
        "bot": "407d7e26.e9903",
        "command": "/encender",
        "commandType": "str",
        "commandCase": false,
        "x": 463.0000114440918,
        "y": 918.0000267028809,
        "wires": [
            [
                "1147cc5.9871434"
            ]
        ]
    },
    {
        "id": "997fb7bd.4977e8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a nivel bajo",
        "parseMode": "",
        "x": 1716.0000114440918,
        "y": 649.0000267028809,
        "wires": []
    },
    {
        "id": "59706509.9cb08c",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido a nivel bajo",
        "parseMode": "",
        "x": 1818.0000114440918,
        "y": 1113.0000267028809,
        "wires": []
    },
    {
        "id": "a7f4bcd0.4e281",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero encendido a nivel bajo",
        "parseMode": "",
        "x": 1898.0000114440918,
        "y": 1629.0000267028809,
        "wires": []
    },
    {
        "id": "f9d1040e.b17438",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a nivel bajo",
        "parseMode": "",
        "x": 1909.9999732971191,
        "y": 2058.000177383423,
        "wires": []
    },
    {
        "id": "859317dc.9f0a78",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch apagar",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que quieres apagar?",
        "answers": [
            "cocina",
            "habitacion",
            "salon",
            "toilette",
            "todo"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 542.0000228881836,
        "y": 2986.0001010894775,
        "wires": [
            [
                "2fd5a89.7d49558"
            ],
            [
                "daf251bd.b49c2"
            ],
            [
                "9ef52112.d1741"
            ],
            [
                "32d10223.71833e"
            ],
            [
                "66b35bde.38a1d4"
            ],
            [
                "3be62ae2.981726"
            ]
        ]
    },
    {
        "id": "670556d3.5465b8",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/apagar",
        "bot": "407d7e26.e9903",
        "command": "/apagar",
        "commandType": "str",
        "commandCase": false,
        "x": 262.0000228881836,
        "y": 2988.0001010894775,
        "wires": [
            [
                "859317dc.9f0a78"
            ]
        ]
    },
    {
        "id": "8bc7f6d3.17c518",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina apagada",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina apagada",
        "parseMode": "",
        "x": 1391.0000228881836,
        "y": 2825.0001010894775,
        "wires": []
    },
    {
        "id": "5140cb7b.b2f9a4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion apagada",
        "parseMode": "",
        "x": 1466.0000228881836,
        "y": 2948.0001010894775,
        "wires": []
    },
    {
        "id": "2d62db1.a024624",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon apagado",
        "parseMode": "",
        "x": 1468.0000228881836,
        "y": 3067.0001010894775,
        "wires": []
    },
    {
        "id": "3d026add.ec4946",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero apagado",
        "parseMode": "",
        "x": 1425.0000228881836,
        "y": 3188.0001010894775,
        "wires": []
    },
    {
        "id": "8348ef79.b626f",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han apagado todas las luces",
        "parseMode": "",
        "x": 1413.0000228881836,
        "y": 3311.0001010894775,
        "wires": []
    },
    {
        "id": "fba80d54.330a8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 653.0000114440918,
        "y": 1012.0000267028809,
        "wires": []
    },
    {
        "id": "3be62ae2.981726",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 682.0000228881836,
        "y": 3132.0001010894775,
        "wires": []
    },
    {
        "id": "8f0e032c.df76",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch cocina",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 918.0000114440918,
        "y": 264.00002670288086,
        "wires": [
            [
                "c8001b36.6eb768"
            ],
            [
                "6676dc53.2a1c24"
            ],
            [
                "409e7718.3ad498"
            ],
            [
                "d77a4892.613528"
            ],
            [
                "45abdaa6.0566d4"
            ]
        ]
    },
    {
        "id": "3c0945d2.1eb40a",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel medio",
        "parseMode": "",
        "x": 1672.0000114440918,
        "y": 208.00002670288086,
        "wires": []
    },
    {
        "id": "c0638f31.994ce",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel fuego valirio",
        "parseMode": "",
        "x": 1717.0000114440918,
        "y": 481.00002670288086,
        "wires": []
    },
    {
        "id": "9cc8bac1.a75388",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel alto",
        "parseMode": "",
        "x": 1689.0000114440918,
        "y": 329.00002670288086,
        "wires": []
    },
    {
        "id": "e84fa126.2450a",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch habitacion",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 973.0000114440918,
        "y": 758.0000267028809,
        "wires": [
            [
                "cdd7db6f.6e8788"
            ],
            [
                "a6a50051.811c"
            ],
            [
                "7b05aa21.738364"
            ],
            [
                "c95a3a2a.2ca2e8"
            ],
            [
                "325dcd81.18e772"
            ]
        ]
    },
    {
        "id": "8ae64cef.b7442",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a nivel medio",
        "parseMode": "",
        "x": 1728.0000114440918,
        "y": 759.0000267028809,
        "wires": []
    },
    {
        "id": "d877e28f.5a57e",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a nivel alto",
        "parseMode": "",
        "x": 1733.0000114440918,
        "y": 856.0000267028809,
        "wires": []
    },
    {
        "id": "4df24e3f.799ff",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a todo leche",
        "parseMode": "",
        "x": 1735.0000114440918,
        "y": 968.0000267028809,
        "wires": []
    },
    {
        "id": "37f33064.6ac1c",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch salon",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 1052.0000114440918,
        "y": 1188.0000267028809,
        "wires": [
            [
                "58d23458.fe3c9c"
            ],
            [
                "9fa98f9b.d9bc8"
            ],
            [
                "5958b86.d712248"
            ],
            [
                "f54dd8de.edd5d8"
            ],
            [
                "b7d3cc98.2b619"
            ]
        ]
    },
    {
        "id": "2214f55f.65740a",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch wc",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 1036.0000114440918,
        "y": 1729.0000267028809,
        "wires": [
            [
                "4c61864c.beff38"
            ],
            [
                "c0602873.90d1f8"
            ],
            [
                "43e3c7a0.807b58"
            ],
            [
                "1151ef26.933041"
            ],
            [
                "39a8b579.14448a"
            ]
        ]
    },
    {
        "id": "17be3e05.9c2542",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido a nivel medio",
        "parseMode": "",
        "x": 1843.0000114440918,
        "y": 1220.0000267028809,
        "wires": []
    },
    {
        "id": "e77501a5.d82b5",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido a nivel alto",
        "parseMode": "",
        "x": 1854.0000114440918,
        "y": 1332.0000267028809,
        "wires": []
    },
    {
        "id": "4c8a3979.3672c8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido para HellBoy",
        "parseMode": "",
        "x": 1862.0000114440918,
        "y": 1443.0000267028809,
        "wires": []
    },
    {
        "id": "31ae3cb5.6e8cc4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero encendido a nivel medio",
        "parseMode": "",
        "x": 1900.0000114440918,
        "y": 1724.0000267028809,
        "wires": []
    },
    {
        "id": "72ad5f66.15b3",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero encendido a nivel alto",
        "parseMode": "",
        "x": 1908.0000114440918,
        "y": 1820.0000267028809,
        "wires": []
    },
    {
        "id": "cc22971e.778808",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Vas a cagar fuego",
        "parseMode": "",
        "x": 1902.0000114440918,
        "y": 1935.0000267028809,
        "wires": []
    },
    {
        "id": "f7df7ac5.0a7d18",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch todo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 1034.0000267028809,
        "y": 2145.0000343322754,
        "wires": [
            [
                "d9c5eb05.0b0518"
            ],
            [
                "a0225a37.d966e8"
            ],
            [
                "b6af5d9e.daf18"
            ],
            [
                "9cac8314.a6732"
            ],
            [
                "43e17c90.e421b4"
            ]
        ]
    },
    {
        "id": "89e6e01a.bc467",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a nivel medio",
        "parseMode": "",
        "x": 1620.9998741149902,
        "y": 2184.999903678894,
        "wires": []
    },
    {
        "id": "c3226777.1554a8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a nivel alto",
        "parseMode": "",
        "x": 1602.9999198913574,
        "y": 2296.000078201294,
        "wires": []
    },
    {
        "id": "73e20c72.d97a84",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a toda ostia",
        "parseMode": "",
        "x": 1608.9998779296875,
        "y": 2438.999765396118,
        "wires": []
    },
    {
        "id": "fdb6fb57.09cb18",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Encender y regular PWM",
        "info": "e",
        "x": 604.0000114440918,
        "y": 792.0000267028809,
        "wires": []
    },
    {
        "id": "d9c6ed52.15243",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Apagar luces",
        "info": "e",
        "x": 537.0000228881836,
        "y": 2890.0001010894775,
        "wires": []
    },
    {
        "id": "b751aeb.6b5935",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/estado",
        "bot": "407d7e26.e9903",
        "command": "/estado",
        "commandType": "str",
        "commandCase": false,
        "x": 2806,
        "y": 2396,
        "wires": [
            [
                "8e9de4d1.546c88"
            ]
        ]
    },
    {
        "id": "8e9de4d1.546c88",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch estado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "De que quieres ver el estado?",
        "answers": [
            "cocina",
            "habitacion",
            "salon",
            "toilette",
            "todo"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 2986,
        "y": 2392,
        "wires": [
            [
                "17d8db0c.136f55"
            ],
            [
                "5bebf5e9.53567c"
            ],
            [
                "bca25601.618918"
            ],
            [
                "c7e248e2.f37228"
            ],
            [
                "17d8db0c.136f55",
                "5bebf5e9.53567c",
                "bca25601.618918",
                "c7e248e2.f37228",
                "72fd38a.ce6d2c8"
            ],
            [
                "5b6ac15e.e223c"
            ]
        ]
    },
    {
        "id": "9213261c.af1508",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado habitacion",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 4248,
        "y": 2360,
        "wires": []
    },
    {
        "id": "df6ecc4.42aef3",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado salon",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 4229,
        "y": 2410,
        "wires": []
    },
    {
        "id": "6749d5f1.f157dc",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado baño",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 4232,
        "y": 2458,
        "wires": []
    },
    {
        "id": "5b6ac15e.e223c",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 3072,
        "y": 2532,
        "wires": []
    },
    {
        "id": "b27c202a.1b716",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Estado de los sensores",
        "info": "e",
        "x": 2999,
        "y": 2312,
        "wires": []
    },
    {
        "id": "3504168e.e4c62a",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/start",
        "bot": "407d7e26.e9903",
        "command": "/start",
        "commandType": "str",
        "commandCase": false,
        "x": 85,
        "y": 295.55578422546387,
        "wires": [
            [
                "3402c984.102fb6"
            ]
        ]
    },
    {
        "id": "bf418aa1.776be8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "mensaje de bienvenida e informacion",
        "info": "e",
        "x": 225,
        "y": 146.0000228881836,
        "wires": []
    },
    {
        "id": "cda3c0d4.ed18a",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1074.772720336914,
        "y": 3793.333526611328,
        "wires": []
    },
    {
        "id": "b6132bd3.8e4038",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/cocina\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 783.6858062744141,
        "y": 3794.560821533203,
        "wires": [
            [
                "cda3c0d4.ed18a"
            ]
        ]
    },
    {
        "id": "69ccbc0a.cb7434",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/datos/cocina",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 342.0000305175781,
        "y": 3794.333559036255,
        "wires": [
            [
                "7a214638.93bc18"
            ]
        ]
    },
    {
        "id": "7a214638.93bc18",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 594.0000152587891,
        "y": 3794.333526611328,
        "wires": [
            [
                "b6132bd3.8e4038",
                "70be20a3.64df1"
            ]
        ]
    },
    {
        "id": "17d8db0c.136f55",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro cocina",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={\"topic\": \"infind/GRUPO2/datos/cocina\"};\nmsg.payload ={};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3319,
        "y": 2280,
        "wires": [
            [
                "3a5d58ea.46b118"
            ]
        ]
    },
    {
        "id": "3a5d58ea.46b118",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 3639,
        "y": 2273,
        "wires": [
            [
                "7af9d6af.7d8d28"
            ]
        ]
    },
    {
        "id": "7af9d6af.7d8d28",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta cocina",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nvar led =msg.payload[0].LED;\n\n\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado de la cocina es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"La cocina esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"La cocina esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"La cocina esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"La cocina esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"La cocina esta apagada  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3965.699951171875,
        "y": 2288,
        "wires": [
            [
                "29d9285.6fdb7d8"
            ]
        ]
    },
    {
        "id": "29d9285.6fdb7d8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado cocina",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 4253.9998779296875,
        "y": 2280,
        "wires": []
    },
    {
        "id": "41f7cc12.bcfcd4",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1751.0000305175781,
        "y": 47.00000190734863,
        "wires": []
    },
    {
        "id": "1042f82.ae00608",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1448.0000114440918,
        "y": 72.00004196166992,
        "wires": [
            [
                "41f7cc12.bcfcd4",
                "f066880d.0cb2b8"
            ]
        ]
    },
    {
        "id": "c8001b36.6eb768",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1209.0000114440918,
        "y": 64.00002670288086,
        "wires": [
            [
                "1042f82.ae00608"
            ]
        ]
    },
    {
        "id": "f066880d.0cb2b8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel bajo",
        "parseMode": "",
        "x": 1670.0000114440918,
        "y": 97.00002670288086,
        "wires": []
    },
    {
        "id": "7c9e2f2c.eae1d",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1738.0000114440918,
        "y": 154.00002670288086,
        "wires": []
    },
    {
        "id": "33a09d6d.ed3c82",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1444.0000114440918,
        "y": 182.00004196166992,
        "wires": [
            [
                "7c9e2f2c.eae1d",
                "3c0945d2.1eb40a"
            ]
        ]
    },
    {
        "id": "6676dc53.2a1c24",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1213.0000114440918,
        "y": 169.00002670288086,
        "wires": [
            [
                "33a09d6d.ed3c82"
            ]
        ]
    },
    {
        "id": "c3825b3a.53d6e8",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1446.9999732971191,
        "y": 309.0000419616699,
        "wires": [
            [
                "9cc8bac1.a75388",
                "d2111aa2.48dd08"
            ]
        ]
    },
    {
        "id": "409e7718.3ad498",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1214.0000114440918,
        "y": 286.00002670288086,
        "wires": [
            [
                "c3825b3a.53d6e8"
            ]
        ]
    },
    {
        "id": "d2111aa2.48dd08",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1764.0000114440918,
        "y": 281.00002670288086,
        "wires": []
    },
    {
        "id": "c57e908b.1152b",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1443.0000114440918,
        "y": 406.000057220459,
        "wires": [
            [
                "682f2cf4.efcc84",
                "c0638f31.994ce"
            ]
        ]
    },
    {
        "id": "d77a4892.613528",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1224.0000114440918,
        "y": 397.00002670288086,
        "wires": [
            [
                "c57e908b.1152b"
            ]
        ]
    },
    {
        "id": "682f2cf4.efcc84",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1802.0000114440918,
        "y": 427.00002670288086,
        "wires": []
    },
    {
        "id": "6086651a.e1affc",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1144,
        "y": 2810.0001163482666,
        "wires": [
            [
                "56a2f66a.5d4e88",
                "8bc7f6d3.17c518"
            ]
        ]
    },
    {
        "id": "2fd5a89.7d49558",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 969.0000228881836,
        "y": 2810.0001010894775,
        "wires": [
            [
                "6086651a.e1affc"
            ]
        ]
    },
    {
        "id": "56a2f66a.5d4e88",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1461.0000228881836,
        "y": 2775.0001010894775,
        "wires": []
    },
    {
        "id": "5bebf5e9.53567c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro habitacion",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={\"topic\": \"infind/GRUPO2/datos/habitacion\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3326,
        "y": 2351,
        "wires": [
            [
                "81a20a47.2d1528"
            ]
        ]
    },
    {
        "id": "81a20a47.2d1528",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 3629,
        "y": 2353,
        "wires": [
            [
                "2ee643ea.30bc3c"
            ]
        ]
    },
    {
        "id": "2ee643ea.30bc3c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta habitacion",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nvar led = msg.payload[0].LED;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado de la habitacion es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"La  habitacion esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"La  habitacion esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"La  habitacion esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"La  habitacion esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"La habitacion esta apagada  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3968.699951171875,
        "y": 2346,
        "wires": [
            [
                "9213261c.af1508"
            ]
        ]
    },
    {
        "id": "bca25601.618918",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro salon",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={\"topic\": \"infind/GRUPO2/datos/salon\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3319,
        "y": 2402,
        "wires": [
            [
                "120ab895.fce517"
            ]
        ]
    },
    {
        "id": "120ab895.fce517",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 3636,
        "y": 2398,
        "wires": [
            [
                "748abdb4.cf7e24"
            ]
        ]
    },
    {
        "id": "748abdb4.cf7e24",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta salon",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nvar led = msg.payload[0].LED;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado del salon es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"El salon esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"El salon esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"El salon esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"El salon esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"El salon esta apagado  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3961.699951171875,
        "y": 2399,
        "wires": [
            [
                "df6ecc4.42aef3"
            ]
        ]
    },
    {
        "id": "c7e248e2.f37228",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro baño",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={\"topic\": \"infind/GRUPO2/datos/wc\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3320,
        "y": 2449,
        "wires": [
            [
                "9a219fff.37152"
            ]
        ]
    },
    {
        "id": "9a219fff.37152",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 3639,
        "y": 2450,
        "wires": [
            [
                "821b8dc0.2ecd3"
            ]
        ]
    },
    {
        "id": "821b8dc0.2ecd3",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta baño",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado del baño es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"El baño esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"El baño esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"El baño esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"El baño esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"El baño esta apagado  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3964.699951171875,
        "y": 2451,
        "wires": [
            [
                "6749d5f1.f157dc"
            ]
        ]
    },
    {
        "id": "a44c3979.949938",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1130.999984741211,
        "y": 2945.0001163482666,
        "wires": [
            [
                "d6364351.39f3b",
                "5140cb7b.b2f9a4"
            ]
        ]
    },
    {
        "id": "daf251bd.b49c2",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 956.0000076293945,
        "y": 2945.0001010894775,
        "wires": [
            [
                "a44c3979.949938"
            ]
        ]
    },
    {
        "id": "d6364351.39f3b",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1495.0000228881836,
        "y": 2899.0001010894775,
        "wires": []
    },
    {
        "id": "f1853f84.0504c",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1138.999984741211,
        "y": 3061.0001163482666,
        "wires": [
            [
                "f3377f38.9b74e",
                "2d62db1.a024624"
            ]
        ]
    },
    {
        "id": "9ef52112.d1741",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 964.0000076293945,
        "y": 3061.0001010894775,
        "wires": [
            [
                "f1853f84.0504c"
            ]
        ]
    },
    {
        "id": "f3377f38.9b74e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1521.0000228881836,
        "y": 3020.0001010894775,
        "wires": []
    },
    {
        "id": "72cc61a1.f5633",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1156.999984741211,
        "y": 3179.0001163482666,
        "wires": [
            [
                "6e563e5d.28a57",
                "3d026add.ec4946"
            ]
        ]
    },
    {
        "id": "32d10223.71833e",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 982.0000076293945,
        "y": 3179.0001010894775,
        "wires": [
            [
                "72cc61a1.f5633"
            ]
        ]
    },
    {
        "id": "6e563e5d.28a57",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1477.0000228881836,
        "y": 3140.0001010894775,
        "wires": []
    },
    {
        "id": "c5f98de6.940e",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1157.999984741211,
        "y": 3291.0001163482666,
        "wires": [
            [
                "8348ef79.b626f",
                "6e563e5d.28a57",
                "f3377f38.9b74e",
                "d6364351.39f3b",
                "56a2f66a.5d4e88"
            ]
        ]
    },
    {
        "id": "66b35bde.38a1d4",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 983.0000076293945,
        "y": 3291.0001010894775,
        "wires": [
            [
                "c5f98de6.940e"
            ]
        ]
    },
    {
        "id": "45abdaa6.0566d4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 942.0000114440918,
        "y": 416.00002670288086,
        "wires": []
    },
    {
        "id": "b7d3cc98.2b619",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 1113.0000114440918,
        "y": 1392.0000267028809,
        "wires": []
    },
    {
        "id": "325dcd81.18e772",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 1033.0000114440918,
        "y": 854.0000267028809,
        "wires": []
    },
    {
        "id": "39a8b579.14448a",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 1056.0000114440918,
        "y": 1830.0000267028809,
        "wires": []
    },
    {
        "id": "43e17c90.e421b4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 1029.0000267028809,
        "y": 2262.0000343322754,
        "wires": []
    },
    {
        "id": "cdd7db6f.6e8788",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1190.0000114440918,
        "y": 603.0000267028809,
        "wires": [
            [
                "3e07164.7b906ea"
            ]
        ]
    },
    {
        "id": "a6a50051.811c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1202.0000114440918,
        "y": 699.0000267028809,
        "wires": [
            [
                "4b28a303.d9f17c"
            ]
        ]
    },
    {
        "id": "7b05aa21.738364",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1204.0000114440918,
        "y": 771.0000267028809,
        "wires": [
            [
                "3b7a0b43.9ccde4"
            ]
        ]
    },
    {
        "id": "c95a3a2a.2ca2e8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1211.0000114440918,
        "y": 859.0000267028809,
        "wires": [
            [
                "c32c3eaa.39e6f"
            ]
        ]
    },
    {
        "id": "3e07164.7b906ea",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1414.0000114440918,
        "y": 603.0000267028809,
        "wires": [
            [
                "997fb7bd.4977e8",
                "c2261875.1e7ce8"
            ]
        ]
    },
    {
        "id": "4b28a303.d9f17c",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1421.0000114440918,
        "y": 702.0000267028809,
        "wires": [
            [
                "8ae64cef.b7442",
                "9e1befe4.7ab1e"
            ]
        ]
    },
    {
        "id": "3b7a0b43.9ccde4",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1426.0000114440918,
        "y": 783.0000267028809,
        "wires": [
            [
                "d877e28f.5a57e",
                "7e3ea89c.abb178"
            ]
        ]
    },
    {
        "id": "c32c3eaa.39e6f",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1430.0000114440918,
        "y": 852.0000267028809,
        "wires": [
            [
                "4df24e3f.799ff",
                "ac721d6.b9661e"
            ]
        ]
    },
    {
        "id": "c2261875.1e7ce8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1760.0000114440918,
        "y": 591.0000267028809,
        "wires": []
    },
    {
        "id": "9e1befe4.7ab1e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1766.0000114440918,
        "y": 700.0000267028809,
        "wires": []
    },
    {
        "id": "7e3ea89c.abb178",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1772.0000114440918,
        "y": 813.0000267028809,
        "wires": []
    },
    {
        "id": "ac721d6.b9661e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1773.0000114440918,
        "y": 917.0000267028809,
        "wires": []
    },
    {
        "id": "58d23458.fe3c9c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1259.0000114440918,
        "y": 1057.0000267028809,
        "wires": [
            [
                "b6dd908c.54997"
            ]
        ]
    },
    {
        "id": "9fa98f9b.d9bc8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1257.0000114440918,
        "y": 1168.0000267028809,
        "wires": [
            [
                "5122dc26.144844"
            ]
        ]
    },
    {
        "id": "5958b86.d712248",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1273.0000114440918,
        "y": 1266.0000267028809,
        "wires": [
            [
                "d9eafa7c.519f78"
            ]
        ]
    },
    {
        "id": "f54dd8de.edd5d8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1274.0000114440918,
        "y": 1348.0000267028809,
        "wires": [
            [
                "1c6d0f2a.2e6d31"
            ]
        ]
    },
    {
        "id": "b6dd908c.54997",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1462.0000114440918,
        "y": 1065.0000267028809,
        "wires": [
            [
                "59706509.9cb08c",
                "c79e3a04.6bbce8"
            ]
        ]
    },
    {
        "id": "5122dc26.144844",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1446.0000114440918,
        "y": 1170.0000267028809,
        "wires": [
            [
                "17be3e05.9c2542",
                "84f36ebe.f016f"
            ]
        ]
    },
    {
        "id": "d9eafa7c.519f78",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1461.0000114440918,
        "y": 1279.0000267028809,
        "wires": [
            [
                "e77501a5.d82b5",
                "b5a94bdd.78d6f8"
            ]
        ]
    },
    {
        "id": "1c6d0f2a.2e6d31",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1459.0000114440918,
        "y": 1361.0000267028809,
        "wires": [
            [
                "4c8a3979.3672c8",
                "dfcd48e9.0f59d8"
            ]
        ]
    },
    {
        "id": "c79e3a04.6bbce8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1832.0000114440918,
        "y": 1069.0000267028809,
        "wires": []
    },
    {
        "id": "84f36ebe.f016f",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1849.0000114440918,
        "y": 1166.0000267028809,
        "wires": []
    },
    {
        "id": "dfcd48e9.0f59d8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1872.0000114440918,
        "y": 1388.0000267028809,
        "wires": []
    },
    {
        "id": "b5a94bdd.78d6f8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1876.0000114440918,
        "y": 1286.0000267028809,
        "wires": []
    },
    {
        "id": "4c61864c.beff38",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1229.0000114440918,
        "y": 1600.0000267028809,
        "wires": [
            [
                "f1ceeb47.080658"
            ]
        ]
    },
    {
        "id": "c0602873.90d1f8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1224.0000114440918,
        "y": 1685.0000267028809,
        "wires": [
            [
                "92cfc6e5.0e9618"
            ]
        ]
    },
    {
        "id": "43e3c7a0.807b58",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1225.0000114440918,
        "y": 1767.0000267028809,
        "wires": [
            [
                "e82dfd16.71942"
            ]
        ]
    },
    {
        "id": "1151ef26.933041",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1220.0000114440918,
        "y": 1880.0000267028809,
        "wires": [
            [
                "3b6bc483.d818ac"
            ]
        ]
    },
    {
        "id": "f1ceeb47.080658",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1399.0000114440918,
        "y": 1613.0000267028809,
        "wires": [
            [
                "a7f4bcd0.4e281",
                "55185ad.2a599a4"
            ]
        ]
    },
    {
        "id": "92cfc6e5.0e9618",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1393.0000114440918,
        "y": 1706.0000267028809,
        "wires": [
            [
                "31ae3cb5.6e8cc4",
                "6f9ef151.1a26c"
            ]
        ]
    },
    {
        "id": "e82dfd16.71942",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1389.0000114440918,
        "y": 1778.0000267028809,
        "wires": [
            [
                "72ad5f66.15b3",
                "39ec8b2a.b9c594"
            ]
        ]
    },
    {
        "id": "3b6bc483.d818ac",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1386.0000114440918,
        "y": 1885.0000267028809,
        "wires": [
            [
                "cc22971e.778808",
                "625b2868.f09718"
            ]
        ]
    },
    {
        "id": "55185ad.2a599a4",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1884.0000114440918,
        "y": 1571.0000267028809,
        "wires": []
    },
    {
        "id": "6f9ef151.1a26c",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1912.0000114440918,
        "y": 1678.0000267028809,
        "wires": []
    },
    {
        "id": "39ec8b2a.b9c594",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1906.0000114440918,
        "y": 1775.0000267028809,
        "wires": []
    },
    {
        "id": "625b2868.f09718",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1904.0000114440918,
        "y": 1883.0000267028809,
        "wires": []
    },
    {
        "id": "d9c5eb05.0b0518",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1581.0000381469727,
        "y": 2007.0000610351562,
        "wires": [
            [
                "9ee2ef6a.23669"
            ]
        ]
    },
    {
        "id": "a0225a37.d966e8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1578.0000381469727,
        "y": 2134.0000610351562,
        "wires": [
            [
                "6213c4c1.593fac"
            ]
        ]
    },
    {
        "id": "b6af5d9e.daf18",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1253.0000267028809,
        "y": 2198.0000343322754,
        "wires": [
            [
                "c285927d.2709d"
            ]
        ]
    },
    {
        "id": "9cac8314.a6732",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1259.0000267028809,
        "y": 2308.0000343322754,
        "wires": [
            [
                "1ebeeb7d.331c85"
            ]
        ]
    },
    {
        "id": "9ee2ef6a.23669",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1729.0000381469727,
        "y": 2003.0000610351562,
        "wires": [
            [
                "f9d1040e.b17438",
                "1f0fb118.73963f",
                "9250cd89.d1358",
                "9112ec95.c89d7",
                "26a4004c.a59da"
            ]
        ]
    },
    {
        "id": "6213c4c1.593fac",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1730.0000381469727,
        "y": 2133.0000610351562,
        "wires": [
            [
                "89e6e01a.bc467",
                "c463b9.c2374c48",
                "7bea131c.2ac88c",
                "3df7bda1.fc9762",
                "cbce8cf9.24a95"
            ]
        ]
    },
    {
        "id": "c285927d.2709d",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1400.0000267028809,
        "y": 2201.0000343322754,
        "wires": [
            [
                "c3226777.1554a8",
                "f93c081.179cef8",
                "96719d32.b601a",
                "dace9a86.7e4928",
                "8d98f782.c213b8"
            ]
        ]
    },
    {
        "id": "1ebeeb7d.331c85",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1419.0000267028809,
        "y": 2321.0000343322754,
        "wires": [
            [
                "73e20c72.d97a84",
                "15b9bb97.5a9674",
                "3ccce6d7.f873ca",
                "2bbb9f36.b3f1e",
                "f53a63c4.a4e8c"
            ]
        ]
    },
    {
        "id": "dce9b664.4e5748",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/datos/cocina",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 316.00001525878906,
        "y": 4185.697100639343,
        "wires": [
            [
                "acc49c7.cfed26"
            ]
        ]
    },
    {
        "id": "5599bdc4.09fe14",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "calidad aire",
        "func": "var deteccion = msg.payload.calidad_aire;\nif (deteccion == 1)\nmsg.payload = \"La calidad del aire es mala\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 748.0000152587891,
        "y": 4182.696991920471,
        "wires": [
            [
                "9ea788a6.b86e08"
            ]
        ]
    },
    {
        "id": "9ea788a6.b86e08",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "bot": "407d7e26.e9903",
        "chatId": "-487674790",
        "message": "",
        "parseMode": "",
        "x": 1133.0000610351562,
        "y": 4304.696982383728,
        "wires": []
    },
    {
        "id": "78c471d9.c96c4",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "sensor puerta",
        "func": "var deteccion = msg.payload.VL53L0X;\nvar comprobante = 0;\nif (deteccion <=100)\nmsg.payload = \"Se ha abierto la puerta\";\ncomprobante = 1;\n\nif (comprobante == 1 && deteccion > 100)\nmsg.payload = \"Se ha cerrado la puerta\";\ncomprobante= 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770.0000152587891,
        "y": 4412.696991920471,
        "wires": [
            [
                "9ea788a6.b86e08"
            ]
        ]
    },
    {
        "id": "9108000a.9d9de",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/datos/salon/puerta",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 342.00001525878906,
        "y": 4410.69723033905,
        "wires": [
            [
                "306acfb5.57441"
            ]
        ]
    },
    {
        "id": "7ac6a4b0.3947ac",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "calidad del aire de la cocina",
        "info": "",
        "x": 334.00001525878906,
        "y": 4140.697019577026,
        "wires": []
    },
    {
        "id": "55c25750.61f268",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "estado puerta principal",
        "info": "",
        "x": 322.00001525878906,
        "y": 4363.697019577026,
        "wires": []
    },
    {
        "id": "91dabfd1.5c448",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/datos/cocina",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 300.00001525878906,
        "y": 4293.697319984436,
        "wires": [
            [
                "f14ae36e.fc575"
            ]
        ]
    },
    {
        "id": "927d8823.9b0768",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "temperatura cocina",
        "func": "var deteccion = msg.payload.DHT11.temp;\nif (deteccion >= 45)\nmsg.payload = \"LA TEMPERATURA DE LA COCINA ES DEMASIADO ALTA \\n\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 744.0000152587891,
        "y": 4288.696991920471,
        "wires": [
            [
                "9ea788a6.b86e08"
            ]
        ]
    },
    {
        "id": "34b92a1e.cfc016",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "temperatura cocina",
        "info": "",
        "x": 286.00001525878906,
        "y": 4249.697019577026,
        "wires": []
    },
    {
        "id": "2194a2d0.3f226e",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1074.772720336914,
        "y": 3886.333526611328,
        "wires": []
    },
    {
        "id": "5ccdcbe0.4f7b14",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/habitacion\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 783.6858062744141,
        "y": 3887.560821533203,
        "wires": [
            [
                "2194a2d0.3f226e"
            ]
        ]
    },
    {
        "id": "80267bfb.7e3228",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/habitacion",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 352.00001525878906,
        "y": 3891.333526611328,
        "wires": [
            [
                "5d6f0503.ac47dc"
            ]
        ]
    },
    {
        "id": "5d6f0503.ac47dc",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 591.0000152587891,
        "y": 3889.333526611328,
        "wires": [
            [
                "5ccdcbe0.4f7b14"
            ]
        ]
    },
    {
        "id": "7de15541.d2a8bc",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1079.772720336914,
        "y": 3971.333526611328,
        "wires": []
    },
    {
        "id": "5d3b24b.b610edc",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/wc\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 786.6858062744141,
        "y": 3973.560821533203,
        "wires": [
            [
                "7de15541.d2a8bc"
            ]
        ]
    },
    {
        "id": "6c61efe.e2c5b1",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/wc",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 337.00001525878906,
        "y": 3979.333526611328,
        "wires": [
            [
                "2b2fd651.49c6fa"
            ]
        ]
    },
    {
        "id": "2b2fd651.49c6fa",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 592.0000152587891,
        "y": 3980.333526611328,
        "wires": [
            [
                "5d3b24b.b610edc"
            ]
        ]
    },
    {
        "id": "572b4ef6.2df5f",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1075.772720336914,
        "y": 4065.333526611328,
        "wires": []
    },
    {
        "id": "625dc83d.507f48",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/salon\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 783.6858062744141,
        "y": 4067.560821533203,
        "wires": [
            [
                "572b4ef6.2df5f"
            ]
        ]
    },
    {
        "id": "ca6e81fe.65cca",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/datos/salon",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 379.00001525878906,
        "y": 4067.333526611328,
        "wires": [
            [
                "fcef84a9.bc42f8"
            ]
        ]
    },
    {
        "id": "fcef84a9.bc42f8",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 620.0000267028809,
        "y": 4066.3337030410767,
        "wires": [
            [
                "625dc83d.507f48",
                "86f4d3e9.8a15a"
            ]
        ]
    },
    {
        "id": "99fb8e45.b19ca",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "javi",
        "info": "e",
        "x": 266.00001525878906,
        "y": 3756.333526611328,
        "wires": []
    },
    {
        "id": "223b634b.923d6c",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Frank",
        "info": "e",
        "x": 269.00001525878906,
        "y": 3862.333526611328,
        "wires": []
    },
    {
        "id": "d81265c9.8f01a8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Leo",
        "info": "e",
        "x": 289.00001525878906,
        "y": 4038.333526611328,
        "wires": []
    },
    {
        "id": "6ae0e922.284418",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Juanjo",
        "info": "e",
        "x": 277.00001525878906,
        "y": 3950.333526611328,
        "wires": []
    },
    {
        "id": "f14ae36e.fc575",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 518.0000152587891,
        "y": 4288.696991920471,
        "wires": [
            [
                "927d8823.9b0768"
            ]
        ]
    },
    {
        "id": "acc49c7.cfed26",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 572.0000534057617,
        "y": 4185.697205543518,
        "wires": [
            [
                "5599bdc4.09fe14",
                "8e42adcc.f87ec"
            ]
        ]
    },
    {
        "id": "306acfb5.57441",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 597.0000343322754,
        "y": 4437.69723033905,
        "wires": [
            [
                "78c471d9.c96c4",
                "274e3013.bc44b"
            ]
        ]
    },
    {
        "id": "72fd38a.ce6d2c8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado casa",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se va a mostrar el estado de cada parte de la casa",
        "parseMode": "",
        "x": 3257,
        "y": 2510,
        "wires": []
    },
    {
        "id": "1f0fb118.73963f",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2392.0000076293945,
        "y": 1967.0000476837158,
        "wires": []
    },
    {
        "id": "9250cd89.d1358",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2360.377815246582,
        "y": 2001.9148426055908,
        "wires": []
    },
    {
        "id": "9112ec95.c89d7",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2390.377815246582,
        "y": 2039.0967273712158,
        "wires": []
    },
    {
        "id": "26a4004c.a59da",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2375.377815246582,
        "y": 2071.096727371216,
        "wires": []
    },
    {
        "id": "cbce8cf9.24a95",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2407.37784576416,
        "y": 2115.8237915039062,
        "wires": []
    },
    {
        "id": "3df7bda1.fc9762",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2054.755641937256,
        "y": 2132.7385597229004,
        "wires": []
    },
    {
        "id": "7bea131c.2ac88c",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2084.755641937256,
        "y": 2169.9204444885254,
        "wires": []
    },
    {
        "id": "c463b9.c2374c48",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2069.755641937256,
        "y": 2201.9204444885254,
        "wires": []
    },
    {
        "id": "f93c081.179cef8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2119.3778343200684,
        "y": 2247.8237648010254,
        "wires": []
    },
    {
        "id": "96719d32.b601a",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2087.755641937256,
        "y": 2282.7385597229004,
        "wires": []
    },
    {
        "id": "dace9a86.7e4928",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2117.755641937256,
        "y": 2319.9204444885254,
        "wires": []
    },
    {
        "id": "8d98f782.c213b8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2101.7555861771107,
        "y": 2350.9203548431396,
        "wires": []
    },
    {
        "id": "3ccce6d7.f873ca",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2131.3778343200684,
        "y": 2418.5510597229004,
        "wires": []
    },
    {
        "id": "2bbb9f36.b3f1e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2099.755641937256,
        "y": 2453.4658546447754,
        "wires": []
    },
    {
        "id": "f53a63c4.a4e8c",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP47/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2129.755641937256,
        "y": 2490.6477394104004,
        "wires": []
    },
    {
        "id": "15b9bb97.5a9674",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 2114.755641937256,
        "y": 2522.6477394104004,
        "wires": []
    },
    {
        "id": "199482a5.39ea7d",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Avisos especiales ",
        "info": "",
        "x": 1151.923324584961,
        "y": 4264.5213232040405,
        "wires": []
    },
    {
        "id": "3bb20511.dc10ca",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "ultimo registro",
        "func": "msg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 351.99999237060547,
        "y": 4855.999996185303,
        "wires": [
            [
                "f6b50cb7.d6ee6"
            ]
        ]
    },
    {
        "id": "2bd3144a.9ffb4c",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 151.99996948242188,
        "y": 4857.00000667572,
        "wires": [
            [
                "3bb20511.dc10ca"
            ]
        ]
    },
    {
        "id": "788d1756.429788",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 369.99999237060547,
        "y": 4901.999996185303,
        "wires": [
            [
                "f6b50cb7.d6ee6"
            ]
        ]
    },
    {
        "id": "6a951674.2be498",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "acceder al ultimo registro/nodo de pruebas",
        "info": "e",
        "x": 253,
        "y": 4798.000118255615,
        "wires": []
    },
    {
        "id": "bbcaeaa0.d45518",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "ultimo registro",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 333.9999351501465,
        "y": 4953.999947547913,
        "wires": [
            [
                "a73f839e.96f48"
            ]
        ]
    },
    {
        "id": "10be7b60.f46865",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/consulta",
        "bot": "407d7e26.e9903",
        "command": "/consulta",
        "commandType": "str",
        "commandCase": false,
        "x": 138.99993515014648,
        "y": 4957.99990272522,
        "wires": [
            [
                "bbcaeaa0.d45518"
            ]
        ]
    },
    {
        "id": "f6b50cb7.d6ee6",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 677.9999923706055,
        "y": 4859.000023841858,
        "wires": [
            []
        ]
    },
    {
        "id": "a73f839e.96f48",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 655.9999046325684,
        "y": 4953.999947547913,
        "wires": [
            [
                "2944c66c.39fd3a"
            ]
        ]
    },
    {
        "id": "2944c66c.39fd3a",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "mensaje respuesta",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 998.6999473571777,
        "y": 4949.99990272522,
        "wires": [
            [
                "7f175706.c746a8"
            ]
        ]
    },
    {
        "id": "7f175706.c746a8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1215.9999351501465,
        "y": 4938.99990272522,
        "wires": []
    },
    {
        "id": "8b6d5a92.28a318",
        "type": "ui_switch",
        "z": "cb95b8f7.9b4968",
        "name": "separdor decimal",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "26879d4b.7e9e12",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2325.014347076416,
        "y": 4494.73415184021,
        "wires": [
            [
                "49979d95.00bf14"
            ]
        ]
    },
    {
        "id": "8dfad84.4f69b28",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 2267.011371612549,
        "y": 4416.645998954773,
        "wires": [
            [
                "49979d95.00bf14"
            ]
        ]
    },
    {
        "id": "49979d95.00bf14",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "set global separador_decimal",
        "func": "if(msg.payload===true)\n{\n    global.set(\"separador_decimal\",\"coma\");\n    msg.topic=\"separador decimal = coma\";\n}\nelse\n{\n    global.set(\"separador_decimal\",\"punto\");\n    msg.topic=\"separador decimal = punto\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2595.0227584838867,
        "y": 4417.353371620178,
        "wires": [
            [
                "8b6d5a92.28a318"
            ]
        ]
    },
    {
        "id": "11e244a2.42c5bb",
        "type": "ui_date_picker",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "label": "Fecha inicio",
        "group": "26879d4b.7e9e12",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 2423.7926177978516,
        "y": 4184.490081310272,
        "wires": [
            [
                "8ea661ab.7feaf"
            ]
        ]
    },
    {
        "id": "4ac34026.22a71",
        "type": "ui_date_picker",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "label": "Fecha final",
        "group": "26879d4b.7e9e12",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 2426.803970336914,
        "y": 4233.484318733215,
        "wires": [
            [
                "3de495f3.c5c83a"
            ]
        ]
    },
    {
        "id": "8ea661ab.7feaf",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "desde",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2619.798294067383,
        "y": 4183.151968955994,
        "wires": [
            []
        ]
    },
    {
        "id": "3de495f3.c5c83a",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasta",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2623.0255737304688,
        "y": 4234.035523414612,
        "wires": [
            []
        ]
    },
    {
        "id": "b3821c01.cde1c",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 2225.8011169433594,
        "y": 4208.910521507263,
        "wires": [
            [
                "11e244a2.42c5bb",
                "4ac34026.22a71"
            ]
        ]
    },
    {
        "id": "55be51b8.5b806",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Controles para seleccionar fechas",
        "info": "",
        "x": 2282.8011054992676,
        "y": 4112.387805938721,
        "wires": []
    },
    {
        "id": "5d7e7577.27191c",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Selector de separador decimal",
        "info": "",
        "x": 2279.025535583496,
        "y": 4356.308123588562,
        "wires": []
    },
    {
        "id": "83609717.be0ea8",
        "type": "http response",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=registros.csv"
        },
        "x": 3294.507785797119,
        "y": 4021.5240182876587,
        "wires": []
    },
    {
        "id": "f657f050.9ca24",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Unicode y separador",
        "func": "//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(global.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3124.507911682129,
        "y": 4021.5239477157593,
        "wires": [
            [
                "83609717.be0ea8"
            ]
        ]
    },
    {
        "id": "e220512e.4bf94",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "consulta",
        "func": "// fecha por defecto es hoy\nvar ahora = new Date();\n// pillo los globales si los hay, si no la fecha de hoy\nvar desde = new Date(global.get(\"desde\") || ahora);\nvar hasta = new Date(global.get(\"hasta\") || ahora); \n// el día de inicio desde las cero horas\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\n// el día final es hasta final del día\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"date\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\": 0,\n        \"date\": 1,\n        \"temp\": \"$DHT11.Temperatura\",\n        \"hum\": \"$DHT11.Humedad\",\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2366.5080337524414,
        "y": 4027.523635864258,
        "wires": [
            [
                "a43810db.35d7a",
                "5e247bee.a198c4"
            ]
        ]
    },
    {
        "id": "eccb4ff1.8cfdc",
        "type": "http in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "url": "/registros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 2203.5079956054688,
        "y": 4027.523614883423,
        "wires": [
            [
                "e220512e.4bf94"
            ]
        ]
    },
    {
        "id": "259e3c57.c4ad44",
        "type": "ui_template",
        "z": "cb95b8f7.9b4968",
        "group": "26879d4b.7e9e12",
        "name": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2222.5080184936523,
        "y": 3919.5234479904175,
        "wires": [
            []
        ]
    },
    {
        "id": "a43810db.35d7a",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "aggregate",
        "x": 2661.522216796875,
        "y": 4027.529296875,
        "wires": [
            [
                "7ad391f7.71277",
                "9a73cc7d.ab6d5"
            ]
        ]
    },
    {
        "id": "7ad391f7.71277",
        "type": "csv",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "date, temp, hum",
        "skip": 0,
        "x": 2943.508056640625,
        "y": 4021.5239248275757,
        "wires": [
            [
                "f657f050.9ca24"
            ]
        ]
    },
    {
        "id": "8255736e.34b41",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Botón en HTML para lanzar descarga de fichero",
        "info": "",
        "x": 2332.2977752685547,
        "y": 3871.6059017181396,
        "wires": []
    },
    {
        "id": "66f44863.32a7b8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Flujo para descarga de fichero",
        "info": "",
        "x": 2274.522201538086,
        "y": 3969.5292682647705,
        "wires": []
    },
    {
        "id": "5e247bee.a198c4",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2647.8334770202637,
        "y": 3893.0002117156982,
        "wires": []
    },
    {
        "id": "9a73cc7d.ab6d5",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2996.9999198913574,
        "y": 3911.6667518615723,
        "wires": []
    },
    {
        "id": "cc80a675.6a69e8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "PREGUNTAR AL PROFESOR SOBRE ESTO",
        "info": "",
        "x": 2822.0156211853027,
        "y": 4061.7504262924194,
        "wires": []
    },
    {
        "id": "3402c984.102fb6",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch bienvenida",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "¡Hola! Soy el bot del grupo 2, ¿En que puedo ayudarte?",
        "answers": [
            "Encender",
            "Apagar",
            "Ver estado",
            "Tutorial",
            "tiempo de recogida",
            "prediccion",
            "pwm"
        ],
        "outputs": 8,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 247.89588165283203,
        "y": 295.4450912475586,
        "wires": [
            [
                "2da6427c.cd1ffe"
            ],
            [
                "d29ece94.508c2"
            ],
            [
                "21016206.b5dd6e"
            ],
            [
                "9c9f3e3e.c122b"
            ],
            [
                "14c64fe.4527fb"
            ],
            [
                "cb15f29e.19409"
            ],
            [
                "d76189c4.f958a8"
            ],
            [
                "e936cbcd.f0a6e8"
            ]
        ]
    },
    {
        "id": "e936cbcd.f0a6e8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 276.8959274291992,
        "y": 443.4452533721924,
        "wires": []
    },
    {
        "id": "e853cf76.711fd",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "Ayuda",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 582.8958358764648,
        "y": 336.0002899169922,
        "wires": []
    },
    {
        "id": "9c9f3e3e.c122b",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "ayuda mensaje",
        "func": "msg.payload = \"¿Estás un poco perdido? Tranquilo, yo te ayudo. \\n\";\nmsg.payload += \"En primer lugar puedes utilizar el comando /encender o /apagar para modificar las luces. \\n\";\nmsg.payload += \"Una vez lo hagas podrás elegir qué quieres enceder, tienes varios niveles para elegir. \\n\";\nmsg.payload += \"Por otro lado tienes el comando /estado para comprobar cierta información de cada rincón de la casa. \\n\";\nmsg.payload += \"También tienes la opcion de cambiar el tiempo de recogida de datos con el comando /tiempo, para no saturarte de información. \\n\";\nmsg.payload += \"Otro comando interesante es /prediccion, que te permite ver la prediccion del tiempo atmosferico. \\n\";\nmsg.payload += \"Prueba tambien a establecer el tiempo del pwm con el comando /pwm \\n\";\nmsg.payload += \"Hay otros mensajes que se envian automaticamente si ocurren situaciones concretas, como por ejemplo, que se abra la puerta de la casa o que tengas un nivel de humo demasiado alto. \\n\";\nmsg.payload += \"¿No me crees? Pues metele fuego a la casa para que veas lo efectivo que soy ^^. \\n\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 491.89585876464844,
        "y": 276.00025939941406,
        "wires": [
            [
                "e853cf76.711fd"
            ]
        ]
    },
    {
        "id": "19dee5b5.dd749a",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/config/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "8fab76dc.3e75b8",
        "x": 3649.952079772949,
        "y": 2900.76411819458,
        "wires": []
    },
    {
        "id": "2fbe402c.3adfe",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/tiempo",
        "bot": "407d7e26.e9903",
        "command": "/tiempo",
        "commandType": "str",
        "commandCase": false,
        "x": 2786.9999237060547,
        "y": 2858.1118202209473,
        "wires": [
            [
                "f3736886.d575c8"
            ]
        ]
    },
    {
        "id": "f3736886.d575c8",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch tiempo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que tiempo de recogida de datos quieres?",
        "answers": [
            "1 segundo",
            "10 segundo",
            "30 segundos",
            "1 minuto",
            "5 minutos"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 3055,
        "y": 2855.89013671875,
        "wires": [
            [
                "bb994458.799538"
            ],
            [
                "1dedd397.38f68c"
            ],
            [
                "fff2ec81.f7d34"
            ],
            [
                "f1ce99a3.6b9888"
            ],
            [
                "2266dbc.ac3c024"
            ],
            [
                "d57be3f2.eee94"
            ]
        ]
    },
    {
        "id": "bb994458.799538",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "1 segundo",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TDATOS\": 1000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3299.8958282470703,
        "y": 2806.7780418395996,
        "wires": [
            [
                "449ac9c4.261748",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "1dedd397.38f68c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "10 segundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TDATOS\": 10000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3303.9999084472656,
        "y": 2849.7779960632324,
        "wires": [
            [
                "863aee33.57fb1",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "fff2ec81.f7d34",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "30 segundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TDATOS\": 30000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3309.9999084472656,
        "y": 2894.7779960632324,
        "wires": [
            [
                "206b276c.840308",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "f1ce99a3.6b9888",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "1 minuto",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TDATOS\": 60000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3300.9999084472656,
        "y": 2937.7779960632324,
        "wires": [
            [
                "aa39e70e.bbebd8",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "2266dbc.ac3c024",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "5 minutos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TDATOS\": 300000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3298.9999084472656,
        "y": 2981.0001640319824,
        "wires": [
            [
                "198569e6.198b46",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "d57be3f2.eee94",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 3122.9999389648438,
        "y": 2961.1114921569824,
        "wires": []
    },
    {
        "id": "449ac9c4.261748",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 1 segundo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 1 segundo",
        "parseMode": "",
        "x": 3582.895751953125,
        "y": 2650.668212890625,
        "wires": []
    },
    {
        "id": "863aee33.57fb1",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 10 segundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 10 segundos",
        "parseMode": "",
        "x": 3594.8958282470703,
        "y": 2699.669408798218,
        "wires": []
    },
    {
        "id": "206b276c.840308",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 30 segundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 30 segundos",
        "parseMode": "",
        "x": 3597.895866394043,
        "y": 2750.669158935547,
        "wires": []
    },
    {
        "id": "aa39e70e.bbebd8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 1 minuto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 1 minuto",
        "parseMode": "",
        "x": 3574.8960342407227,
        "y": 2797.8907928466797,
        "wires": []
    },
    {
        "id": "198569e6.198b46",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 5 minutos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 5 minutos",
        "parseMode": "",
        "x": 3580.8958435058594,
        "y": 2843.890251159668,
        "wires": []
    },
    {
        "id": "582a4416.f761fc",
        "type": "http request",
        "z": "cb95b8f7.9b4968",
        "name": "AEMET http request",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.aemet.es/xml/municipios/localidad_29067.xml",
        "tls": "",
        "x": 3690.00736618042,
        "y": 1083.1118049621582,
        "wires": [
            [
                "57ce4f.7e47d1b"
            ]
        ]
    },
    {
        "id": "57ce4f.7e47d1b",
        "type": "xml",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 3874.00736618042,
        "y": 1083.1118049621582,
        "wires": [
            [
                "291bd304.8bf1ec",
                "63a5a2a0.3cfbac",
                "791e2ff9.3e00b",
                "cffc90fe.92345"
            ]
        ]
    },
    {
        "id": "291bd304.8bf1ec",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "fecha elaboracion",
        "rules": [
            {
                "t": "set",
                "p": "fecha",
                "pt": "global",
                "to": "payload.root.elaborado[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4024.3075675964355,
        "y": 945.1119804382324,
        "wires": [
            []
        ]
    },
    {
        "id": "30ab6bbe.c9eee4",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var cielo_hoy = global.get(\"cielo_hoy\");\nvar fecha = global.get(\"fecha\")\nvar lluvia_hoy = global.get(\"lluvia_hoy\")\nvar periodo = global.get(\"periodo\")\nmsg.payload.chatId =  1308127721;\nmsg.payload = \"hoy (\" +periodo+\") tendremos el cielo \"+cielo_hoy+\" y con una probabilidad de lluvias de \"+lluvia_hoy+\" % \\n\";\nmsg.payload +=\"Fecha de elaboracion: \"+fecha+ \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4350.307586669922,
        "y": 1087.111988067627,
        "wires": [
            [
                "1da15242.3f4fbe"
            ]
        ]
    },
    {
        "id": "da45ff5.77f61",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/prediccion",
        "bot": "407d7e26.e9903",
        "command": "/prediccion",
        "commandType": "str",
        "commandCase": false,
        "x": 2792.3074226379395,
        "y": 1515.1111698150635,
        "wires": [
            [
                "31d4b644.71932a",
                "a7907c2b.c3163"
            ]
        ]
    },
    {
        "id": "1da15242.3f4fbe",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "bot": "407d7e26.e9903",
        "chatId": "-487674790",
        "message": "",
        "parseMode": "",
        "x": 4518.307540893555,
        "y": 1087.1121520996094,
        "wires": []
    },
    {
        "id": "31d4b644.71932a",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var hora = new Date().getHours();\nmsg.payload = hora;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3036.307186126709,
        "y": 1411.1111087799072,
        "wires": [
            [
                "a71ad5eb.30b548"
            ]
        ]
    },
    {
        "id": "63a5a2a0.3cfbac",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var hora = global.get(\"hora\");\nvar cont = 0;\n\nif (hora >= 07 && hora <=12)\ncont = 5;\nelse if (hora >=13 && hora <= 18)\ncont=6;\nelse if (hora>=19 && hora <=24)\ncont=3;\nelse cont=4;\nmsg.payload = msg.payload.root.prediccion[0].dia[0].prob_precipitacion[cont]._;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4011.307571411133,
        "y": 992.1124172210693,
        "wires": [
            [
                "225f37ce.9de658"
            ]
        ]
    },
    {
        "id": "a71ad5eb.30b548",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "hora",
        "rules": [
            {
                "t": "set",
                "p": "hora",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3216.307186126709,
        "y": 1343.1111087799072,
        "wires": [
            []
        ]
    },
    {
        "id": "225f37ce.9de658",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "hora",
        "rules": [
            {
                "t": "set",
                "p": "lluvia_hoy",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4147.30757522583,
        "y": 995.1120929718018,
        "wires": [
            []
        ]
    },
    {
        "id": "791e2ff9.3e00b",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var hora = global.get(\"hora\");\nvar cont = 0;\nif (hora >= 07 && hora <=12)\ncont = 5;\nelse if (hora >=13 && hora <= 18)\ncont=6;\nelse if (hora>=19 && hora <=24)\ncont=3;\nelse cont=4;\nmsg.payload = msg.payload.root.prediccion[0].dia[0].estado_cielo[cont].$.descripcion;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4025.3072471618652,
        "y": 1085.1121530532837,
        "wires": [
            [
                "c9d3ff25.5bc15"
            ]
        ]
    },
    {
        "id": "c9d3ff25.5bc15",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "estado cielo hoy",
        "rules": [
            {
                "t": "set",
                "p": "cielo_hoy",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4187.307468414307,
        "y": 1084.1121520996094,
        "wires": [
            [
                "30ab6bbe.c9eee4"
            ]
        ]
    },
    {
        "id": "cffc90fe.92345",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var hora = global.get(\"hora\");\nvar cont = 0;\nif (hora >= 07 && hora <=12)\ncont = 5;\nelse if (hora >=13 && hora <= 18)\ncont=6;\nelse if (hora>=19 && hora <=24)\ncont=3;\nelse cont=4;\nmsg.payload = msg.payload.root.prediccion[0].dia[0].estado_cielo[cont].$.periodo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4027.3073501586914,
        "y": 1148.1119394302368,
        "wires": [
            [
                "fb7613fa.b787f"
            ]
        ]
    },
    {
        "id": "fb7613fa.b787f",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "periodo",
        "rules": [
            {
                "t": "set",
                "p": "periodo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4185.307304382324,
        "y": 1153.1117763519287,
        "wires": [
            []
        ]
    },
    {
        "id": "e5c1e3a2.b133d",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Esta funcion calcula la hora actual",
        "info": "",
        "x": 3104.307186126709,
        "y": 1299.1111087799072,
        "wires": []
    },
    {
        "id": "83083d.696af7c",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Recibo el comando",
        "info": "",
        "x": 2765.307315826416,
        "y": 1311.1111183166504,
        "wires": []
    },
    {
        "id": "e6affa07.f41678",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "convierto en globales las variables que necesito",
        "info": "",
        "x": 4084.3073081970215,
        "y": 891.1121006011963,
        "wires": []
    },
    {
        "id": "58336f7c.e7a96",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Para estas necesito primero elegir el periodo correcto",
        "info": "",
        "x": 4104.307300567627,
        "y": 1206.1119956970215,
        "wires": []
    },
    {
        "id": "8114627f.903c5",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Las junto todas en esta funcion y lo envio a telegram",
        "info": "",
        "x": 4501.307582855225,
        "y": 1019.1119861602783,
        "wires": []
    },
    {
        "id": "a7907c2b.c3163",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch prediccion",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que prediccion quieres ver?",
        "answers": [
            "hoy",
            "mañana",
            "Pasado mañana"
        ],
        "outputs": 4,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 3071.785243988037,
        "y": 1627.333969116211,
        "wires": [
            [
                "582a4416.f761fc"
            ],
            [
                "9dc53549.c15ee8"
            ],
            [
                "8cf4029.dce73"
            ],
            [
                "7a503b8f.994f34"
            ]
        ]
    },
    {
        "id": "9dc53549.c15ee8",
        "type": "http request",
        "z": "cb95b8f7.9b4968",
        "name": "AEMET http request",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.aemet.es/xml/municipios/localidad_29067.xml",
        "tls": "",
        "x": 3566.4521980285645,
        "y": 1528.8890266418457,
        "wires": [
            [
                "ec120049.3121f"
            ]
        ]
    },
    {
        "id": "ec120049.3121f",
        "type": "xml",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 3813.4520530700684,
        "y": 1535.8890266418457,
        "wires": [
            [
                "73bb3205.64c46c",
                "db195c89.8528b",
                "3510f53c.308eaa",
                "9bf8031.eef59"
            ]
        ]
    },
    {
        "id": "73bb3205.64c46c",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "estado cielo mañana",
        "rules": [
            {
                "t": "set",
                "p": "cielo_manana",
                "pt": "global",
                "to": "payload.root.prediccion[0].dia[1].estado_cielo[0].$.descripcion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4081.7519721984863,
        "y": 1422.889289855957,
        "wires": [
            []
        ]
    },
    {
        "id": "db195c89.8528b",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "fecha elaboracion",
        "rules": [
            {
                "t": "set",
                "p": "fecha",
                "pt": "global",
                "to": "payload.root.elaborado[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4086.752140045166,
        "y": 1464.88929271698,
        "wires": [
            []
        ]
    },
    {
        "id": "3510f53c.308eaa",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "lluvia mañana",
        "rules": [
            {
                "t": "set",
                "p": "lluvia_manana",
                "pt": "global",
                "to": "payload.root.prediccion[0].dia[1].prob_precipitacion[0]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4075.7521324157715,
        "y": 1505.889513015747,
        "wires": [
            []
        ]
    },
    {
        "id": "fb46802a.a376a",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var cielo_manana = global.get(\"cielo_manana\");\nvar lluvia_manana = global.get(\"lluvia_manana\")\nvar fecha = global.get(\"fecha\")\nvar periodo = global.get(\"periodo\")\nmsg.payload.chatId =  1308127721;\nmsg.payload = \"Mañana tendremos el cielo \"+cielo_manana+\" y con una probabilidad de lluvias de \"+lluvia_manana+\" % \\n\";\nmsg.payload +=\"Fecha de elaboracion: \"+fecha+ \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4262.752117156982,
        "y": 1587.8892192840576,
        "wires": [
            [
                "ea855249.bbfb4"
            ]
        ]
    },
    {
        "id": "ea855249.bbfb4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "bot": "407d7e26.e9903",
        "chatId": "-487674790",
        "message": "",
        "parseMode": "",
        "x": 4450.752662658691,
        "y": 1587.8891115188599,
        "wires": []
    },
    {
        "id": "9bf8031.eef59",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var hora = global.get(\"hora\");\nvar cont = 0;\n\nif (hora >= 07 && hora <=12)\ncont = 5;\nelse if (hora >=13 && hora <= 18)\ncont=6;\nelse if (hora>=19 && hora <=24)\ncont=3;\nelse cont=4;\nmsg.payload = msg.payload.root.prediccion[0].dia[0].prob_precipitacion[cont]._;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4080.75186920166,
        "y": 1580.8893032073975,
        "wires": [
            [
                "bd8530bd.c1a18",
                "fb46802a.a376a"
            ]
        ]
    },
    {
        "id": "bd8530bd.c1a18",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "hora",
        "rules": [
            {
                "t": "set",
                "p": "lluvia_hoy",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4245.75216293335,
        "y": 1519.8892707824707,
        "wires": [
            []
        ]
    },
    {
        "id": "7dfd54e8.4283cc",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "convierto en globales las variables que necesito",
        "info": "",
        "x": 4103.751926422119,
        "y": 1350.8894271850586,
        "wires": []
    },
    {
        "id": "16ddc454.627e1c",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Las junto todas en esta funcion y lo envio a telegram",
        "info": "",
        "x": 4507.752712249756,
        "y": 1532.8894395828247,
        "wires": []
    },
    {
        "id": "374c8e11.da41e2",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "estado cielo pasado mañana",
        "rules": [
            {
                "t": "set",
                "p": "cielo_pasado_manana",
                "pt": "global",
                "to": "payload.root.prediccion[0].dia[2].estado_cielo[0].$.descripcion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4066.508502960205,
        "y": 1831.5240097045898,
        "wires": [
            []
        ]
    },
    {
        "id": "2bf11b57.f286a4",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "lluvia pasado mañana",
        "rules": [
            {
                "t": "set",
                "p": "lluvia_pasado_manana",
                "pt": "global",
                "to": "payload.root.prediccion[0].dia[2].prob_precipitacion[0]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4080.5083198547363,
        "y": 1934.5240097045898,
        "wires": [
            [
                "215d4a1f.a23596"
            ]
        ]
    },
    {
        "id": "8cf4029.dce73",
        "type": "http request",
        "z": "cb95b8f7.9b4968",
        "name": "AEMET http request",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.aemet.es/xml/municipios/localidad_29067.xml",
        "tls": "",
        "x": 3528.507984161377,
        "y": 1846.5235481262207,
        "wires": [
            [
                "619f7a85.e0c144"
            ]
        ]
    },
    {
        "id": "619f7a85.e0c144",
        "type": "xml",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 3775.507839202881,
        "y": 1853.5235481262207,
        "wires": [
            [
                "7e4f498d.5c7548",
                "1775be81.d88c51",
                "374c8e11.da41e2",
                "2bf11b57.f286a4"
            ]
        ]
    },
    {
        "id": "7e4f498d.5c7548",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "fecha elaboracion",
        "rules": [
            {
                "t": "set",
                "p": "fecha",
                "pt": "global",
                "to": "payload.root.elaborado[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4084.8084297180176,
        "y": 1880.5240097045898,
        "wires": [
            []
        ]
    },
    {
        "id": "215d4a1f.a23596",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var cielo_pasado_manana = global.get(\"cielo_pasado_manana\");\nvar lluvia_pasado_manana = global.get(\"lluvia_pasado_manana\")\nvar fecha = global.get(\"fecha\")\nvar periodo = global.get(\"periodo\")\nmsg.payload.chatId =  1308127721;\nmsg.payload = \"Pasado mañana tendremos el cielo \"+cielo_pasado_manana+\" y con una probabilidad de lluvias de \"+lluvia_pasado_manana+\" % \\n\";\nmsg.payload +=\"Fecha de elaboracion: \"+fecha+ \"\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4288.808181762695,
        "y": 2046.5242538452148,
        "wires": [
            [
                "7650de0f.8691e"
            ]
        ]
    },
    {
        "id": "7650de0f.8691e",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "bot": "407d7e26.e9903",
        "chatId": "-487674790",
        "message": "",
        "parseMode": "",
        "x": 4476.808692932129,
        "y": 1966.5237550735474,
        "wires": []
    },
    {
        "id": "1775be81.d88c51",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "func": "var hora = global.get(\"hora\");\nvar cont = 0;\n\nif (hora >= 07 && hora <=12)\ncont = 5;\nelse if (hora >=13 && hora <= 18)\ncont=6;\nelse if (hora>=19 && hora <=24)\ncont=3;\nelse cont=4;\nmsg.payload = msg.payload.root.prediccion[0].dia[0].prob_precipitacion[cont]._;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4072.807815551758,
        "y": 2024.5242538452148,
        "wires": [
            [
                "9f7a91fd.20093"
            ]
        ]
    },
    {
        "id": "9f7a91fd.20093",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "hora",
        "rules": [
            {
                "t": "set",
                "p": "lluvia_hoy",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4271.808364868164,
        "y": 1956.5241317749023,
        "wires": [
            []
        ]
    },
    {
        "id": "da5c7d1e.a5f53",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Las junto todas en esta funcion y lo envio a telegram",
        "info": "",
        "x": 4533.808742523193,
        "y": 1911.5240831375122,
        "wires": []
    },
    {
        "id": "7a503b8f.994f34",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 3182.5080375671387,
        "y": 1733.5234622955322,
        "wires": []
    },
    {
        "id": "c83e3c7c.cb59a",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/ESP145/config/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "8fab76dc.3e75b8",
        "x": 3912.0076904296875,
        "y": 413.5237636566162,
        "wires": []
    },
    {
        "id": "457d6c11.47a634",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/pwm",
        "bot": "407d7e26.e9903",
        "command": "/pwm",
        "commandType": "str",
        "commandCase": false,
        "x": 2974.0555877685547,
        "y": 325.87134170532227,
        "wires": [
            [
                "ab8e164d.ee7308"
            ]
        ]
    },
    {
        "id": "ab8e164d.ee7308",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch pwm",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que tiempo de pwm de datos quieres?",
        "answers": [
            "5 milisegundos",
            "10 milisegundos",
            "100 milisegundos",
            "200 milisegundos",
            "500 milisegundos"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 3232.0556640625,
        "y": 323.649658203125,
        "wires": [
            [
                "63ea9d1a.cf3584"
            ],
            [
                "415a3313.3c5e9c"
            ],
            [
                "86ce6549.76e5a8"
            ],
            [
                "5d571336.28f5ec"
            ],
            [
                "a9e7ece5.54069"
            ],
            [
                "60368129.abd29"
            ]
        ]
    },
    {
        "id": "63ea9d1a.cf3584",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "5 milisegundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TLED\": 5};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3466.95166015625,
        "y": 241.53732204437256,
        "wires": [
            [
                "c83e3c7c.cb59a",
                "379e168c.d1ec8a"
            ]
        ]
    },
    {
        "id": "415a3313.3c5e9c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "10 milisegundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TLED\": 10};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3501.0555725097656,
        "y": 317.5375175476074,
        "wires": [
            [
                "c83e3c7c.cb59a",
                "773c997f.10a948"
            ]
        ]
    },
    {
        "id": "86ce6549.76e5a8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "100 milisegundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TLED\": 100};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3517.0555725097656,
        "y": 362.5375175476074,
        "wires": [
            [
                "eefe58f.6ee97a8",
                "c83e3c7c.cb59a"
            ]
        ]
    },
    {
        "id": "5d571336.28f5ec",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "200 milisegundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TLED\": 200};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3518.0555725097656,
        "y": 405.5375175476074,
        "wires": [
            [
                "c2d23558.53fae8",
                "c83e3c7c.cb59a"
            ]
        ]
    },
    {
        "id": "a9e7ece5.54069",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "500 milisegundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"TLED\": 500};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3516.0555725097656,
        "y": 448.7596855163574,
        "wires": [
            [
                "f49a0471.5acb08",
                "c83e3c7c.cb59a"
            ]
        ]
    },
    {
        "id": "60368129.abd29",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 3310.0556030273438,
        "y": 428.8710136413574,
        "wires": []
    },
    {
        "id": "eefe58f.6ee97a8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 100 milisegundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el pwm en 100 milisegundos",
        "parseMode": "",
        "x": 3886.9516677856445,
        "y": 221.42864608764648,
        "wires": []
    },
    {
        "id": "c2d23558.53fae8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 200 milisegundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el pwm en 200 milisegundos",
        "parseMode": "",
        "x": 3911.951560974121,
        "y": 283.65049266815186,
        "wires": []
    },
    {
        "id": "f49a0471.5acb08",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 500 milisegundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el pwm en 500 milisegundos",
        "parseMode": "",
        "x": 3926.95161819458,
        "y": 348.6500072479248,
        "wires": []
    },
    {
        "id": "379e168c.d1ec8a",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 5 milisegundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el pwm en 5 milisegundos",
        "parseMode": "",
        "x": 3869.895462036133,
        "y": 138.33424186706543,
        "wires": []
    },
    {
        "id": "773c997f.10a948",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 10 milisegundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el pwm en 10 milisegundos",
        "parseMode": "",
        "x": 3891.895706176758,
        "y": 175.3335838317871,
        "wires": []
    },
    {
        "id": "e877a549.b3de08",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "prediccion",
        "links": [
            "cb15f29e.19409"
        ],
        "x": 2845.382984161377,
        "y": 1621.6722049713135,
        "wires": [
            [
                "a7907c2b.c3163"
            ]
        ]
    },
    {
        "id": "cb15f29e.19409",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "prediccion",
        "links": [
            "e877a549.b3de08"
        ],
        "x": 442.39067554473877,
        "y": 369.7740669250488,
        "wires": []
    },
    {
        "id": "d76189c4.f958a8",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "pwm",
        "links": [
            "9b8b84cc.45a7c8"
        ],
        "x": 440.38673973083496,
        "y": 416.7620735168457,
        "wires": []
    },
    {
        "id": "9b8b84cc.45a7c8",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "links": [
            "d76189c4.f958a8"
        ],
        "x": 3057.378963470459,
        "y": 262.6721167564392,
        "wires": [
            [
                "ab8e164d.ee7308"
            ]
        ]
    },
    {
        "id": "d29ece94.508c2",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "apagar",
        "links": [
            "f58f4eb2.9c82b"
        ],
        "x": 427.3828411102295,
        "y": 175.76206398010254,
        "wires": []
    },
    {
        "id": "f58f4eb2.9c82b",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "apagar",
        "links": [
            "d29ece94.508c2"
        ],
        "x": 292.3906497955322,
        "y": 2932.66814994812,
        "wires": [
            [
                "859317dc.9f0a78"
            ]
        ]
    },
    {
        "id": "21016206.b5dd6e",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "estado",
        "links": [
            "2f01c318.49a34c"
        ],
        "x": 428.3828411102295,
        "y": 224.7737865447998,
        "wires": []
    },
    {
        "id": "2f01c318.49a34c",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "links": [
            "21016206.b5dd6e"
        ],
        "x": 2831.390645980835,
        "y": 2347.4219493865967,
        "wires": [
            [
                "8e9de4d1.546c88"
            ]
        ]
    },
    {
        "id": "2da6427c.cd1ffe",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "encender",
        "links": [
            "11b60e06.4cf392"
        ],
        "x": 424.37500953674316,
        "y": 129.52378463745117,
        "wires": []
    },
    {
        "id": "11b60e06.4cf392",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "encender",
        "links": [
            "2da6427c.cd1ffe"
        ],
        "x": 458.3789129257202,
        "y": 980.406270980835,
        "wires": [
            [
                "1147cc5.9871434"
            ]
        ]
    },
    {
        "id": "bf552559.114678",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Elige el nivel de la cocina",
        "info": "e",
        "x": 912.7656364440918,
        "y": 149.75002670288086,
        "wires": []
    },
    {
        "id": "37438434.d4ce5c",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Elige el nivel de la habitacion",
        "info": "e",
        "x": 960.7656364440918,
        "y": 669.7500267028809,
        "wires": []
    },
    {
        "id": "c620be2b.2ae55",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Elige el nivel del salon",
        "info": "e",
        "x": 1039.7656364440918,
        "y": 1112.7500839233398,
        "wires": []
    },
    {
        "id": "a3f393de.71fe6",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Elige el nivel del baño",
        "info": "e",
        "x": 1017.7656440734863,
        "y": 1658.75004196167,
        "wires": []
    },
    {
        "id": "b21c0293.b808d",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Elige el nivel de todas las habitaciones",
        "info": "e",
        "x": 1287.7656478881836,
        "y": 2066.7500534057617,
        "wires": []
    },
    {
        "id": "11d8b1ef.8336de",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "velocidad de respuesta del pwm",
        "info": "",
        "x": 3234.140655517578,
        "y": 221.59783935546875,
        "wires": []
    },
    {
        "id": "c774b358.9f54b",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Cocina",
        "info": "",
        "x": 4448.516384124756,
        "y": 3877.2515907287598,
        "wires": []
    },
    {
        "id": "be2e0aa5.42e5d8",
        "type": "ui_gauge",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "group": "a5a62931.5d2068",
        "order": 5,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4661.801467895508,
        "y": 3855.8222303390503,
        "wires": []
    },
    {
        "id": "3aaab688.a5bd3a",
        "type": "ui_gauge",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "group": "a5a62931.5d2068",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4676.801467895508,
        "y": 3928.8222312927246,
        "wires": []
    },
    {
        "id": "3e8b83fc.9db5dc",
        "type": "ui_led",
        "z": "cb95b8f7.9b4968",
        "group": "a5a62931.5d2068",
        "order": 8,
        "width": "2",
        "height": "2",
        "label": "calidad aire",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 853.8021774291992,
        "y": 4229.82342338562,
        "wires": []
    },
    {
        "id": "14c64fe.4527fb",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "recogida",
        "links": [
            "243d0dee.f23db2"
        ],
        "x": 445.3828401565552,
        "y": 325.01173877716064,
        "wires": []
    },
    {
        "id": "243d0dee.f23db2",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "recogida",
        "links": [
            "14c64fe.4527fb"
        ],
        "x": 2875.3906145095825,
        "y": 2789.9144077301025,
        "wires": [
            [
                "f3736886.d575c8"
            ]
        ]
    },
    {
        "id": "4706c050.7fa16",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Salón",
        "info": "",
        "x": 4448.765720367432,
        "y": 4101.250297546387,
        "wires": []
    },
    {
        "id": "17bf97d0.929058",
        "type": "ui_gauge",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "group": "40706f5a.d9a34",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4708.765983581543,
        "y": 4107.107068061829,
        "wires": []
    },
    {
        "id": "2f94551f.5fa15a",
        "type": "ui_gauge",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "group": "40706f5a.d9a34",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4698.765663146973,
        "y": 4153.107069015503,
        "wires": []
    },
    {
        "id": "7954da83.84b3b4",
        "type": "ui_led",
        "z": "cb95b8f7.9b4968",
        "group": "40706f5a.d9a34",
        "order": 4,
        "width": "5",
        "height": "4",
        "label": "Puerta abierta (ROJO) / Puerta cerrada (VERDE)",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 930.765926361084,
        "y": 4451.107264518738,
        "wires": []
    },
    {
        "id": "12ba3f89.7999e",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Temp/Hum salon",
        "func": "var temp=msg.payload.DHT11.temp;\nvar hum=msg.payload.DHT11.hum;\nvar led=msg.payload.LED;\n\nmsg1={\"payload\":temp, \"topic\": \"Temperatura\"};\nmsg2={\"payload\":hum, \"topic\": \"Humedad\"};\nmsg3={\"payload\":led, \"topic\": \"level\"};\n\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 4456.765733718872,
        "y": 4154.250293731689,
        "wires": [
            [
                "17bf97d0.929058"
            ],
            [
                "2f94551f.5fa15a"
            ],
            [
                "cbb7c344.b0072"
            ]
        ]
    },
    {
        "id": "4fef3862.ad0138",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Temp/Hum cocina",
        "func": "var temp=msg.payload.DHT11.temp;\nvar hum=msg.payload.DHT11.hum;\nvar led=msg.payload.LED;\n\nmsg1={\"payload\":temp, \"topic\": \"Temperatura\"};\nmsg2={\"payload\":hum, \"topic\": \"Humedad\"};\nmsg3={\"payload\":led, \"topic\": \"level\"};\n\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 4454.765625,
        "y": 3934.25048828125,
        "wires": [
            [
                "be2e0aa5.42e5d8"
            ],
            [
                "3aaab688.a5bd3a"
            ],
            [
                "a87f8c83.2d17"
            ]
        ]
    },
    {
        "id": "274e3013.bc44b",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Puerta",
        "func": "var puerta = msg.payload.VL53L0X;\nif (puerta <= 100 )\n\nmsg={\"payload\": 1 , \"topic\": \"Puerta\"};\n\nelse\n\nmsg={\"payload\": 0 , \"topic\": \"Puerta\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 747.7656364440918,
        "y": 4451.250391960144,
        "wires": [
            [
                "7954da83.84b3b4"
            ]
        ]
    },
    {
        "id": "8e42adcc.f87ec",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "calidad mala",
        "func": "var deteccion = msg.payload.calidad_aire;\nif (deteccion == 1)\nmsg.payload = 1;\nelse\nmsg.payload = 0\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 692.7656402587891,
        "y": 4232.2503271102905,
        "wires": [
            [
                "3e8b83fc.9db5dc"
            ]
        ]
    },
    {
        "id": "86f4d3e9.8a15a",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "salon",
        "links": [
            "4f303d73.1f84a4"
        ],
        "x": 694.3867168426514,
        "y": 4037.0198583602905,
        "wires": []
    },
    {
        "id": "4f303d73.1f84a4",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "salon",
        "links": [
            "86f4d3e9.8a15a"
        ],
        "x": 4299.379011154175,
        "y": 4152.910453796387,
        "wires": [
            [
                "12ba3f89.7999e"
            ]
        ]
    },
    {
        "id": "70be20a3.64df1",
        "type": "link out",
        "z": "cb95b8f7.9b4968",
        "name": "cocina",
        "links": [
            "51d85ba7.2ec0b4"
        ],
        "x": 679.7656526565552,
        "y": 3831.2502660751343,
        "wires": []
    },
    {
        "id": "51d85ba7.2ec0b4",
        "type": "link in",
        "z": "cb95b8f7.9b4968",
        "name": "cocina",
        "links": [
            "70be20a3.64df1"
        ],
        "x": 4318.757917404175,
        "y": 3932.140916824341,
        "wires": [
            [
                "4fef3862.ad0138"
            ]
        ]
    },
    {
        "id": "a87f8c83.2d17",
        "type": "ui_gauge",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "group": "a5a62931.5d2068",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "compass",
        "title": "Iluminacion",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4674.333686828613,
        "y": 3985.001272201538,
        "wires": []
    },
    {
        "id": "cbb7c344.b0072",
        "type": "ui_gauge",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "group": "40706f5a.d9a34",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "compass",
        "title": "Iluminacion",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 4708.333251953125,
        "y": 4210,
        "wires": []
    },
    {
        "id": "f4a80023.24e54",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "------------------DASHBOARD------------------",
        "info": "",
        "x": 4538.000106811523,
        "y": 3772.333619117737,
        "wires": []
    },
    {
        "id": "a5ef099c.9e7978",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "------------------RECOGIDA DE DATOS------------------",
        "info": "",
        "x": 620.6666717529297,
        "y": 3713.3334646224976,
        "wires": []
    },
    {
        "id": "1a34c159.e72d5f",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "------------------PREDICCION------------------",
        "info": "",
        "x": 3503,
        "y": 925,
        "wires": []
    },
    {
        "id": "e1abfd3.e3371",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "------------------DESCARGA EXCEL------------------",
        "info": "",
        "x": 2556.9999618530273,
        "y": 3743.0000104904175,
        "wires": []
    },
    {
        "id": "7e031aca.a91f94",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "tiempo respuesta",
        "info": "e",
        "x": 3065,
        "y": 2781,
        "wires": []
    },
    {
        "id": "407d7e26.e9903",
        "type": "telegrambot-config",
        "z": "",
        "botname": "pruebasjj_bot",
        "usernames": "",
        "chatIds": "",
        "pollInterval": "300"
    },
    {
        "id": "c5464916.ceffc8",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "connectOptions": "",
        "port": "27017",
        "db": "II2",
        "name": ""
    },
    {
        "id": "8fab76dc.3e75b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "11f84db6.06eda2",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "26879d4b.7e9e12",
        "type": "ui_group",
        "z": "",
        "name": "Grupo descarga",
        "tab": "b7ed1dac.34a86",
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "a5a62931.5d2068",
        "type": "ui_group",
        "z": "",
        "name": "Cocina",
        "tab": "982d2b31.2094f8",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "40706f5a.d9a34",
        "type": "ui_group",
        "z": "",
        "name": "Salón",
        "tab": "982d2b31.2094f8",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b7ed1dac.34a86",
        "type": "ui_tab",
        "z": "",
        "name": "Ejemplo descarga",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "982d2b31.2094f8",
        "type": "ui_tab",
        "z": "",
        "name": "PANEL DE CONTROL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
