NodeRedPrincipal
[
    {
        "id": "cb95b8f7.9b4968",
        "type": "tab",
        "label": "Telegram_trabajo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1147cc5.9871434",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch encender",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que quieres encender?",
        "answers": [
            "cocina",
            "habitacion",
            "salon",
            "toilette",
            "todo"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 328,
        "y": 892,
        "wires": [
            [
                "8f0e032c.df76"
            ],
            [
                "e84fa126.2450a"
            ],
            [
                "37f33064.6ac1c"
            ],
            [
                "2214f55f.65740a"
            ],
            [
                "f7df7ac5.0a7d18"
            ],
            [
                "fba80d54.330a8"
            ]
        ]
    },
    {
        "id": "40590e7a.8e1f9",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/encender",
        "bot": "407d7e26.e9903",
        "command": "/encender",
        "commandType": "str",
        "commandCase": false,
        "x": 142,
        "y": 900,
        "wires": [
            [
                "1147cc5.9871434"
            ]
        ]
    },
    {
        "id": "997fb7bd.4977e8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a nivel bajo",
        "parseMode": "",
        "x": 1395,
        "y": 631,
        "wires": []
    },
    {
        "id": "59706509.9cb08c",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido a nivel bajo",
        "parseMode": "",
        "x": 1497,
        "y": 1095,
        "wires": []
    },
    {
        "id": "a7f4bcd0.4e281",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero encendido a nivel bajo",
        "parseMode": "",
        "x": 1577,
        "y": 1611,
        "wires": []
    },
    {
        "id": "f9d1040e.b17438",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a nivel bajo",
        "parseMode": "",
        "x": 1240.9999351501465,
        "y": 2079.0001163482666,
        "wires": []
    },
    {
        "id": "859317dc.9f0a78",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch apagar",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que quieres apagar?",
        "answers": [
            "cocina",
            "habitacion",
            "salon",
            "toilette",
            "todo"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 335,
        "y": 2776,
        "wires": [
            [
                "2fd5a89.7d49558"
            ],
            [
                "daf251bd.b49c2"
            ],
            [
                "9ef52112.d1741"
            ],
            [
                "32d10223.71833e"
            ],
            [
                "66b35bde.38a1d4"
            ],
            [
                "3be62ae2.981726"
            ]
        ]
    },
    {
        "id": "670556d3.5465b8",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/apagar",
        "bot": "407d7e26.e9903",
        "command": "/apagar",
        "commandType": "str",
        "commandCase": false,
        "x": 55,
        "y": 2778,
        "wires": [
            [
                "859317dc.9f0a78"
            ]
        ]
    },
    {
        "id": "8bc7f6d3.17c518",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina apagada",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina apagada",
        "parseMode": "",
        "x": 1184,
        "y": 2615,
        "wires": []
    },
    {
        "id": "5140cb7b.b2f9a4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion apagada",
        "parseMode": "",
        "x": 1259,
        "y": 2738,
        "wires": []
    },
    {
        "id": "2d62db1.a024624",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon apagado",
        "parseMode": "",
        "x": 1261,
        "y": 2857,
        "wires": []
    },
    {
        "id": "3d026add.ec4946",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero apagado",
        "parseMode": "",
        "x": 1218,
        "y": 2978,
        "wires": []
    },
    {
        "id": "8348ef79.b626f",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo apagado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han apagado todas las luces",
        "parseMode": "",
        "x": 1206,
        "y": 3101,
        "wires": []
    },
    {
        "id": "fba80d54.330a8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 332,
        "y": 994,
        "wires": []
    },
    {
        "id": "3be62ae2.981726",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 475,
        "y": 2922,
        "wires": []
    },
    {
        "id": "8f0e032c.df76",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch cocina",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 597,
        "y": 246,
        "wires": [
            [
                "c8001b36.6eb768"
            ],
            [
                "6676dc53.2a1c24"
            ],
            [
                "409e7718.3ad498"
            ],
            [
                "d77a4892.613528"
            ],
            [
                "45abdaa6.0566d4"
            ]
        ]
    },
    {
        "id": "3c0945d2.1eb40a",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel medio",
        "parseMode": "",
        "x": 1351,
        "y": 190,
        "wires": []
    },
    {
        "id": "c0638f31.994ce",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel fuego valirio",
        "parseMode": "",
        "x": 1396,
        "y": 463,
        "wires": []
    },
    {
        "id": "9cc8bac1.a75388",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel alto",
        "parseMode": "",
        "x": 1368,
        "y": 311,
        "wires": []
    },
    {
        "id": "e84fa126.2450a",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch habitacion",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 652,
        "y": 740,
        "wires": [
            [
                "cdd7db6f.6e8788"
            ],
            [
                "a6a50051.811c"
            ],
            [
                "7b05aa21.738364"
            ],
            [
                "c95a3a2a.2ca2e8"
            ],
            [
                "325dcd81.18e772"
            ]
        ]
    },
    {
        "id": "8ae64cef.b7442",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a nivel medio",
        "parseMode": "",
        "x": 1407,
        "y": 741,
        "wires": []
    },
    {
        "id": "d877e28f.5a57e",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a nivel alto",
        "parseMode": "",
        "x": 1412,
        "y": 838,
        "wires": []
    },
    {
        "id": "4df24e3f.799ff",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "habitacion-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "habitacion encendida a todo leche",
        "parseMode": "",
        "x": 1414,
        "y": 950,
        "wires": []
    },
    {
        "id": "37f33064.6ac1c",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch salon",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 731,
        "y": 1170,
        "wires": [
            [
                "58d23458.fe3c9c"
            ],
            [
                "9fa98f9b.d9bc8"
            ],
            [
                "5958b86.d712248"
            ],
            [
                "f54dd8de.edd5d8"
            ],
            [
                "b7d3cc98.2b619"
            ]
        ]
    },
    {
        "id": "2214f55f.65740a",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch wc",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 715,
        "y": 1711,
        "wires": [
            [
                "4c61864c.beff38"
            ],
            [
                "c0602873.90d1f8"
            ],
            [
                "43e3c7a0.807b58"
            ],
            [
                "1151ef26.933041"
            ],
            [
                "39a8b579.14448a"
            ]
        ]
    },
    {
        "id": "17be3e05.9c2542",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido a nivel medio",
        "parseMode": "",
        "x": 1522,
        "y": 1202,
        "wires": []
    },
    {
        "id": "e77501a5.d82b5",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido a nivel alto",
        "parseMode": "",
        "x": 1533,
        "y": 1314,
        "wires": []
    },
    {
        "id": "4c8a3979.3672c8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "salon-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "salon encendido para HellBoy",
        "parseMode": "",
        "x": 1541,
        "y": 1425,
        "wires": []
    },
    {
        "id": "31ae3cb5.6e8cc4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero encendido a nivel medio",
        "parseMode": "",
        "x": 1579,
        "y": 1706,
        "wires": []
    },
    {
        "id": "72ad5f66.15b3",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cagadero encendido a nivel alto",
        "parseMode": "",
        "x": 1587,
        "y": 1802,
        "wires": []
    },
    {
        "id": "cc22971e.778808",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "wc-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Vas a cagar fuego",
        "parseMode": "",
        "x": 1581,
        "y": 1917,
        "wires": []
    },
    {
        "id": "f7df7ac5.0a7d18",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch todo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que intensidad quieres?",
        "answers": [
            "Bajo",
            "Medio",
            "Alto",
            "stairway to heaven"
        ],
        "outputs": 5,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 686,
        "y": 2184,
        "wires": [
            [
                "d9c5eb05.0b0518"
            ],
            [
                "a0225a37.d966e8"
            ],
            [
                "b6af5d9e.daf18"
            ],
            [
                "9cac8314.a6732"
            ],
            [
                "43e17c90.e421b4"
            ]
        ]
    },
    {
        "id": "89e6e01a.bc467",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-medio",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a nivel medio",
        "parseMode": "",
        "x": 1272.9998474121094,
        "y": 2223.9998693466187,
        "wires": []
    },
    {
        "id": "c3226777.1554a8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-alto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a nivel alto",
        "parseMode": "",
        "x": 1254.9998931884766,
        "y": 2335.0000438690186,
        "wires": []
    },
    {
        "id": "73e20c72.d97a84",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "todo-100%",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se han encendido todas las luces a toda ostia",
        "parseMode": "",
        "x": 1260.9998512268066,
        "y": 2477.999731063843,
        "wires": []
    },
    {
        "id": "fdb6fb57.09cb18",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Encender y regular PWM",
        "info": "e",
        "x": 283,
        "y": 774,
        "wires": []
    },
    {
        "id": "d9c6ed52.15243",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Apagar luces",
        "info": "e",
        "x": 330,
        "y": 2680,
        "wires": []
    },
    {
        "id": "b751aeb.6b5935",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/estado",
        "bot": "407d7e26.e9903",
        "command": "/estado",
        "commandType": "str",
        "commandCase": false,
        "x": 78,
        "y": 3324,
        "wires": [
            [
                "8e9de4d1.546c88"
            ]
        ]
    },
    {
        "id": "8e9de4d1.546c88",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch estado",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "De que quieres ver el estado?",
        "answers": [
            "cocina",
            "habitacion",
            "salon",
            "toilette",
            "todo"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 258,
        "y": 3320,
        "wires": [
            [
                "17d8db0c.136f55"
            ],
            [
                "5bebf5e9.53567c"
            ],
            [
                "bca25601.618918"
            ],
            [
                "c7e248e2.f37228"
            ],
            [
                "17d8db0c.136f55",
                "5bebf5e9.53567c",
                "bca25601.618918",
                "c7e248e2.f37228",
                "72fd38a.ce6d2c8"
            ],
            [
                "5b6ac15e.e223c"
            ]
        ]
    },
    {
        "id": "9213261c.af1508",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado habitacion",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1520,
        "y": 3288,
        "wires": []
    },
    {
        "id": "df6ecc4.42aef3",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado salon",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1501,
        "y": 3338,
        "wires": []
    },
    {
        "id": "6749d5f1.f157dc",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado baño",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1504,
        "y": 3386,
        "wires": []
    },
    {
        "id": "5b6ac15e.e223c",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 344,
        "y": 3460,
        "wires": []
    },
    {
        "id": "b27c202a.1b716",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Estado de los sensores",
        "info": "e",
        "x": 289,
        "y": 3240,
        "wires": []
    },
    {
        "id": "3504168e.e4c62a",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/start",
        "bot": "407d7e26.e9903",
        "command": "/start",
        "commandType": "str",
        "commandCase": false,
        "x": 99,
        "y": 1481.5556163787842,
        "wires": [
            [
                "3402c984.102fb6"
            ]
        ]
    },
    {
        "id": "bf418aa1.776be8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "mensaje de bienvenida e informacion",
        "info": "e",
        "x": 422,
        "y": 69,
        "wires": []
    },
    {
        "id": "cda3c0d4.ed18a",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 932.772705078125,
        "y": 3967.3333139419556,
        "wires": []
    },
    {
        "id": "b6132bd3.8e4038",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/cocina\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 641.685791015625,
        "y": 3968.5606088638306,
        "wires": [
            [
                "cda3c0d4.ed18a",
                "af8fb797.da7ca8"
            ]
        ]
    },
    {
        "id": "69ccbc0a.cb7434",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/cocina",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 194,
        "y": 3960.3333139419556,
        "wires": [
            [
                "7a214638.93bc18"
            ]
        ]
    },
    {
        "id": "7a214638.93bc18",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 452,
        "y": 3968.3333139419556,
        "wires": [
            [
                "b6132bd3.8e4038"
            ]
        ]
    },
    {
        "id": "d3f258a8.44cdd8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Recogida de datos",
        "info": "e",
        "x": 361,
        "y": 3889.3332862854004,
        "wires": []
    },
    {
        "id": "17d8db0c.136f55",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro cocina",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\n//msg.payload={\"topic\": \"infind/GRUPO2/datos/cocina\"};\nmsg.payload ={};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 591,
        "y": 3208,
        "wires": [
            [
                "3a5d58ea.46b118"
            ]
        ]
    },
    {
        "id": "3a5d58ea.46b118",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 911,
        "y": 3201,
        "wires": [
            [
                "7af9d6af.7d8d28",
                "d6fb9960.407518"
            ]
        ]
    },
    {
        "id": "7af9d6af.7d8d28",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta cocina",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nvar led =msg.payload[0].LED;\n\n\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado de la cocina es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"La cocina esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"La cocina esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"La cocina esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"La cocina esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"La cocina esta apagada  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1237.699951171875,
        "y": 3216,
        "wires": [
            [
                "29d9285.6fdb7d8"
            ]
        ]
    },
    {
        "id": "29d9285.6fdb7d8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado cocina",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1525.9998779296875,
        "y": 3208,
        "wires": []
    },
    {
        "id": "41f7cc12.bcfcd4",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1391.000015258789,
        "y": 20,
        "wires": []
    },
    {
        "id": "1042f82.ae00608",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1127,
        "y": 54.00001525878906,
        "wires": [
            [
                "41f7cc12.bcfcd4",
                "f066880d.0cb2b8"
            ]
        ]
    },
    {
        "id": "c8001b36.6eb768",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 888,
        "y": 46,
        "wires": [
            [
                "1042f82.ae00608"
            ]
        ]
    },
    {
        "id": "f066880d.0cb2b8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "cocina-bajo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "cocina encendida a nivel bajo",
        "parseMode": "",
        "x": 1349,
        "y": 79,
        "wires": []
    },
    {
        "id": "7c9e2f2c.eae1d",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1387,
        "y": 136,
        "wires": []
    },
    {
        "id": "33a09d6d.ed3c82",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1123,
        "y": 164.00001525878906,
        "wires": [
            [
                "7c9e2f2c.eae1d",
                "3c0945d2.1eb40a"
            ]
        ]
    },
    {
        "id": "6676dc53.2a1c24",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 892,
        "y": 151,
        "wires": [
            [
                "33a09d6d.ed3c82"
            ]
        ]
    },
    {
        "id": "c3825b3a.53d6e8",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1125.9999618530273,
        "y": 291.00001525878906,
        "wires": [
            [
                "9cc8bac1.a75388",
                "d2111aa2.48dd08"
            ]
        ]
    },
    {
        "id": "409e7718.3ad498",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 893,
        "y": 268,
        "wires": [
            [
                "c3825b3a.53d6e8"
            ]
        ]
    },
    {
        "id": "d2111aa2.48dd08",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1413,
        "y": 263,
        "wires": []
    },
    {
        "id": "c57e908b.1152b",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1122,
        "y": 388.0000305175781,
        "wires": [
            [
                "682f2cf4.efcc84",
                "c0638f31.994ce"
            ]
        ]
    },
    {
        "id": "d77a4892.613528",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 903,
        "y": 379,
        "wires": [
            [
                "c57e908b.1152b"
            ]
        ]
    },
    {
        "id": "682f2cf4.efcc84",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1451,
        "y": 409,
        "wires": []
    },
    {
        "id": "6086651a.e1affc",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 936.9999771118164,
        "y": 2600.000015258789,
        "wires": [
            [
                "56a2f66a.5d4e88",
                "8bc7f6d3.17c518"
            ]
        ]
    },
    {
        "id": "2fd5a89.7d49558",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 762,
        "y": 2600,
        "wires": [
            [
                "6086651a.e1affc"
            ]
        ]
    },
    {
        "id": "56a2f66a.5d4e88",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1224,
        "y": 2565,
        "wires": []
    },
    {
        "id": "5bebf5e9.53567c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro habitacion",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={\"topic\": \"infind/GRUPO2/datos/habitacion\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 598,
        "y": 3279,
        "wires": [
            [
                "81a20a47.2d1528"
            ]
        ]
    },
    {
        "id": "81a20a47.2d1528",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 901,
        "y": 3281,
        "wires": [
            [
                "2ee643ea.30bc3c"
            ]
        ]
    },
    {
        "id": "2ee643ea.30bc3c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta habitacion",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nvar led = msg.payload[0].LED;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado de la habitacion es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"La  habitacion esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"La  habitacion esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"La  habitacion esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"La  habitacion esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"La habitacion esta apagada  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1240.699951171875,
        "y": 3274,
        "wires": [
            [
                "9213261c.af1508"
            ]
        ]
    },
    {
        "id": "bca25601.618918",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro salon",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={\"topic\": \"infind/GRUPO2/datos/salon\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 591,
        "y": 3330,
        "wires": [
            [
                "120ab895.fce517"
            ]
        ]
    },
    {
        "id": "120ab895.fce517",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 908,
        "y": 3326,
        "wires": [
            [
                "748abdb4.cf7e24"
            ]
        ]
    },
    {
        "id": "748abdb4.cf7e24",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta salon",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nvar led = msg.payload[0].LED;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado del salon es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"El salon esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"El salon esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"El salon esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"El salon esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"El salon esta apagado  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1233.699951171875,
        "y": 3327,
        "wires": [
            [
                "df6ecc4.42aef3"
            ]
        ]
    },
    {
        "id": "c7e248e2.f37228",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Registro baño",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={\"topic\": \"infind/GRUPO2/datos/wc\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 592,
        "y": 3377,
        "wires": [
            [
                "9a219fff.37152"
            ]
        ]
    },
    {
        "id": "9a219fff.37152",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 911,
        "y": 3378,
        "wires": [
            [
                "821b8dc0.2ecd3"
            ]
        ]
    },
    {
        "id": "821b8dc0.2ecd3",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta baño",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El estado del baño es el siguiente:  \\n\";\nmsg.payload+=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\n\nif (led == 25)\nmsg.payload+=\"El baño esta a nivel bajo  \\n\";\nelse if (led ==50)\nmsg.payload+=\"El baño esta a nivel medio  \\n\";\nelse if (led ==75)\nmsg.payload+=\"El baño esta a nivel alto  \\n\";\nelse if (led ==100)\nmsg.payload+=\"El baño esta a nivel maximo  \\n\";\nelse if (led === 0)\nmsg.payload+=\"El baño esta apagado  \\n\";\n\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1236.699951171875,
        "y": 3379,
        "wires": [
            [
                "6749d5f1.f157dc"
            ]
        ]
    },
    {
        "id": "a44c3979.949938",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 923.9999618530273,
        "y": 2735.000015258789,
        "wires": [
            [
                "d6364351.39f3b",
                "5140cb7b.b2f9a4"
            ]
        ]
    },
    {
        "id": "daf251bd.b49c2",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 748.9999847412109,
        "y": 2735,
        "wires": [
            [
                "a44c3979.949938"
            ]
        ]
    },
    {
        "id": "d6364351.39f3b",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1288,
        "y": 2689,
        "wires": []
    },
    {
        "id": "f1853f84.0504c",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 931.9999618530273,
        "y": 2851.000015258789,
        "wires": [
            [
                "f3377f38.9b74e",
                "2d62db1.a024624"
            ]
        ]
    },
    {
        "id": "9ef52112.d1741",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 756.9999847412109,
        "y": 2851,
        "wires": [
            [
                "f1853f84.0504c"
            ]
        ]
    },
    {
        "id": "f3377f38.9b74e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1294,
        "y": 2810,
        "wires": []
    },
    {
        "id": "72cc61a1.f5633",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 949.9999618530273,
        "y": 2969.000015258789,
        "wires": [
            [
                "6e563e5d.28a57",
                "3d026add.ec4946"
            ]
        ]
    },
    {
        "id": "32d10223.71833e",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 774.9999847412109,
        "y": 2969,
        "wires": [
            [
                "72cc61a1.f5633"
            ]
        ]
    },
    {
        "id": "6e563e5d.28a57",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1270,
        "y": 2930,
        "wires": []
    },
    {
        "id": "c5f98de6.940e",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 950.9999618530273,
        "y": 3081.000015258789,
        "wires": [
            [
                "8348ef79.b626f",
                "6e563e5d.28a57",
                "f3377f38.9b74e",
                "d6364351.39f3b",
                "56a2f66a.5d4e88"
            ]
        ]
    },
    {
        "id": "66b35bde.38a1d4",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 0",
        "func": "msg.payload = {\"level\": 0}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 775.9999847412109,
        "y": 3081,
        "wires": [
            [
                "c5f98de6.940e"
            ]
        ]
    },
    {
        "id": "45abdaa6.0566d4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 621,
        "y": 398,
        "wires": []
    },
    {
        "id": "b7d3cc98.2b619",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 792,
        "y": 1374,
        "wires": []
    },
    {
        "id": "325dcd81.18e772",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 712,
        "y": 836,
        "wires": []
    },
    {
        "id": "39a8b579.14448a",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 735,
        "y": 1812,
        "wires": []
    },
    {
        "id": "43e17c90.e421b4",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 681,
        "y": 2301,
        "wires": []
    },
    {
        "id": "cdd7db6f.6e8788",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 869,
        "y": 585,
        "wires": [
            [
                "3e07164.7b906ea"
            ]
        ]
    },
    {
        "id": "a6a50051.811c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 881,
        "y": 681,
        "wires": [
            [
                "4b28a303.d9f17c"
            ]
        ]
    },
    {
        "id": "7b05aa21.738364",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 883,
        "y": 753,
        "wires": [
            [
                "3b7a0b43.9ccde4"
            ]
        ]
    },
    {
        "id": "c95a3a2a.2ca2e8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 841,
        "wires": [
            [
                "c32c3eaa.39e6f"
            ]
        ]
    },
    {
        "id": "3e07164.7b906ea",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1093,
        "y": 585,
        "wires": [
            [
                "997fb7bd.4977e8",
                "c2261875.1e7ce8"
            ]
        ]
    },
    {
        "id": "4b28a303.d9f17c",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1100,
        "y": 684,
        "wires": [
            [
                "8ae64cef.b7442",
                "9e1befe4.7ab1e"
            ]
        ]
    },
    {
        "id": "3b7a0b43.9ccde4",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1105,
        "y": 765,
        "wires": [
            [
                "d877e28f.5a57e",
                "7e3ea89c.abb178"
            ]
        ]
    },
    {
        "id": "c32c3eaa.39e6f",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1109,
        "y": 834,
        "wires": [
            [
                "4df24e3f.799ff",
                "ac721d6.b9661e"
            ]
        ]
    },
    {
        "id": "c2261875.1e7ce8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1439,
        "y": 573,
        "wires": []
    },
    {
        "id": "9e1befe4.7ab1e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1445,
        "y": 682,
        "wires": []
    },
    {
        "id": "7e3ea89c.abb178",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1451,
        "y": 795,
        "wires": []
    },
    {
        "id": "ac721d6.b9661e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1452,
        "y": 899,
        "wires": []
    },
    {
        "id": "58d23458.fe3c9c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 938,
        "y": 1039,
        "wires": [
            [
                "b6dd908c.54997"
            ]
        ]
    },
    {
        "id": "9fa98f9b.d9bc8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 936,
        "y": 1150,
        "wires": [
            [
                "5122dc26.144844"
            ]
        ]
    },
    {
        "id": "5958b86.d712248",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 952,
        "y": 1248,
        "wires": [
            [
                "d9eafa7c.519f78"
            ]
        ]
    },
    {
        "id": "f54dd8de.edd5d8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 953,
        "y": 1330,
        "wires": [
            [
                "1c6d0f2a.2e6d31"
            ]
        ]
    },
    {
        "id": "b6dd908c.54997",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1141,
        "y": 1047,
        "wires": [
            [
                "59706509.9cb08c",
                "c79e3a04.6bbce8"
            ]
        ]
    },
    {
        "id": "5122dc26.144844",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1125,
        "y": 1152,
        "wires": [
            [
                "17be3e05.9c2542",
                "84f36ebe.f016f"
            ]
        ]
    },
    {
        "id": "d9eafa7c.519f78",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1140,
        "y": 1261,
        "wires": [
            [
                "e77501a5.d82b5",
                "b5a94bdd.78d6f8"
            ]
        ]
    },
    {
        "id": "1c6d0f2a.2e6d31",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1138,
        "y": 1343,
        "wires": [
            [
                "4c8a3979.3672c8",
                "dfcd48e9.0f59d8"
            ]
        ]
    },
    {
        "id": "c79e3a04.6bbce8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1491,
        "y": 1051,
        "wires": []
    },
    {
        "id": "84f36ebe.f016f",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1508,
        "y": 1148,
        "wires": []
    },
    {
        "id": "dfcd48e9.0f59d8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1531,
        "y": 1370,
        "wires": []
    },
    {
        "id": "b5a94bdd.78d6f8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1535,
        "y": 1268,
        "wires": []
    },
    {
        "id": "4c61864c.beff38",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 908,
        "y": 1582,
        "wires": [
            [
                "f1ceeb47.080658"
            ]
        ]
    },
    {
        "id": "c0602873.90d1f8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 903,
        "y": 1667,
        "wires": [
            [
                "92cfc6e5.0e9618"
            ]
        ]
    },
    {
        "id": "43e3c7a0.807b58",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 904,
        "y": 1749,
        "wires": [
            [
                "e82dfd16.71942"
            ]
        ]
    },
    {
        "id": "1151ef26.933041",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 899,
        "y": 1862,
        "wires": [
            [
                "3b6bc483.d818ac"
            ]
        ]
    },
    {
        "id": "f1ceeb47.080658",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1078,
        "y": 1595,
        "wires": [
            [
                "a7f4bcd0.4e281",
                "55185ad.2a599a4"
            ]
        ]
    },
    {
        "id": "92cfc6e5.0e9618",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1072,
        "y": 1688,
        "wires": [
            [
                "31ae3cb5.6e8cc4",
                "6f9ef151.1a26c"
            ]
        ]
    },
    {
        "id": "e82dfd16.71942",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1068,
        "y": 1760,
        "wires": [
            [
                "72ad5f66.15b3",
                "39ec8b2a.b9c594"
            ]
        ]
    },
    {
        "id": "3b6bc483.d818ac",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1065,
        "y": 1867,
        "wires": [
            [
                "cc22971e.778808",
                "625b2868.f09718"
            ]
        ]
    },
    {
        "id": "55185ad.2a599a4",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1563,
        "y": 1553,
        "wires": []
    },
    {
        "id": "6f9ef151.1a26c",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1591,
        "y": 1660,
        "wires": []
    },
    {
        "id": "39ec8b2a.b9c594",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1585,
        "y": 1757,
        "wires": []
    },
    {
        "id": "625b2868.f09718",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1583,
        "y": 1865,
        "wires": []
    },
    {
        "id": "d9c5eb05.0b0518",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 25",
        "func": "msg.payload = {\"level\": 25}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 912,
        "y": 2028,
        "wires": [
            [
                "9ee2ef6a.23669"
            ]
        ]
    },
    {
        "id": "a0225a37.d966e8",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 50",
        "func": "msg.payload = {\"level\": 50}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 909,
        "y": 2155,
        "wires": [
            [
                "6213c4c1.593fac"
            ]
        ]
    },
    {
        "id": "b6af5d9e.daf18",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 75",
        "func": "msg.payload = {\"level\": 75}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 905,
        "y": 2237,
        "wires": [
            [
                "c285927d.2709d"
            ]
        ]
    },
    {
        "id": "9cac8314.a6732",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "envio 100",
        "func": "msg.payload = {\"level\": 100}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 911,
        "y": 2347,
        "wires": [
            [
                "1ebeeb7d.331c85"
            ]
        ]
    },
    {
        "id": "9ee2ef6a.23669",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1060,
        "y": 2024,
        "wires": [
            [
                "f9d1040e.b17438",
                "1f0fb118.73963f",
                "9250cd89.d1358",
                "9112ec95.c89d7",
                "26a4004c.a59da"
            ]
        ]
    },
    {
        "id": "6213c4c1.593fac",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1061,
        "y": 2154,
        "wires": [
            [
                "89e6e01a.bc467",
                "c463b9.c2374c48",
                "7bea131c.2ac88c",
                "3df7bda1.fc9762",
                "cbce8cf9.24a95"
            ]
        ]
    },
    {
        "id": "c285927d.2709d",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1052,
        "y": 2240,
        "wires": [
            [
                "c3226777.1554a8",
                "f93c081.179cef8",
                "96719d32.b601a",
                "dace9a86.7e4928",
                "8d98f782.c213b8"
            ]
        ]
    },
    {
        "id": "1ebeeb7d.331c85",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1071,
        "y": 2360,
        "wires": [
            [
                "73e20c72.d97a84",
                "15b9bb97.5a9674",
                "3ccce6d7.f873ca",
                "2bbb9f36.b3f1e",
                "f53a63c4.a4e8c"
            ]
        ]
    },
    {
        "id": "dce9b664.4e5748",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/cocina",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 166,
        "y": 4357.696806907654,
        "wires": [
            [
                "acc49c7.cfed26"
            ]
        ]
    },
    {
        "id": "5599bdc4.09fe14",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "calidad aire",
        "func": "var deteccion = msg.payload.calidad_aire;\nif (deteccion == 1)\nmsg.payload = \"La calidad del aire es mala\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 606,
        "y": 4356.696779251099,
        "wires": [
            [
                "9ea788a6.b86e08"
            ]
        ]
    },
    {
        "id": "9ea788a6.b86e08",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "bot": "407d7e26.e9903",
        "chatId": "-487674790",
        "message": "",
        "parseMode": "",
        "x": 827,
        "y": 4470.696779251099,
        "wires": []
    },
    {
        "id": "78c471d9.c96c4",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "sensor puerta",
        "func": "var deteccion = msg.payload.VL53L0X;\nif (deteccion <=50)\nmsg.payload = \"Se ha abierto la puerta\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 628,
        "y": 4586.696779251099,
        "wires": [
            [
                "9ea788a6.b86e08"
            ]
        ]
    },
    {
        "id": "9108000a.9d9de",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/salon/puerta",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 196,
        "y": 4584.696806907654,
        "wires": [
            [
                "306acfb5.57441"
            ]
        ]
    },
    {
        "id": "7ac6a4b0.3947ac",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "calidad del aire de la cocina",
        "info": "",
        "x": 192,
        "y": 4314.696806907654,
        "wires": []
    },
    {
        "id": "55c25750.61f268",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "estado puerta principal",
        "info": "",
        "x": 180,
        "y": 4537.696806907654,
        "wires": []
    },
    {
        "id": "91dabfd1.5c448",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/cocina",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 147,
        "y": 4467.696806907654,
        "wires": [
            [
                "f14ae36e.fc575"
            ]
        ]
    },
    {
        "id": "927d8823.9b0768",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "temperatura cocina",
        "func": "var deteccion = msg.payload.DHT11.temp;\nif (deteccion >= 45)\nmsg.payload = \"LA TEMPERATURA DE LA COCINA ES DEMASIADO ALTA \\n\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 602,
        "y": 4462.696779251099,
        "wires": [
            [
                "9ea788a6.b86e08"
            ]
        ]
    },
    {
        "id": "34b92a1e.cfc016",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "temperatura cocina",
        "info": "",
        "x": 144,
        "y": 4423.696806907654,
        "wires": []
    },
    {
        "id": "2194a2d0.3f226e",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 932.772705078125,
        "y": 4060.3333139419556,
        "wires": []
    },
    {
        "id": "5ccdcbe0.4f7b14",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/habitacion\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 641.685791015625,
        "y": 4061.5606088638306,
        "wires": [
            [
                "2194a2d0.3f226e",
                "2bffdd46.7b1132"
            ]
        ]
    },
    {
        "id": "80267bfb.7e3228",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/habitacion",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 210,
        "y": 4065.3333139419556,
        "wires": [
            [
                "5d6f0503.ac47dc"
            ]
        ]
    },
    {
        "id": "5d6f0503.ac47dc",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 449,
        "y": 4063.3333139419556,
        "wires": [
            [
                "5ccdcbe0.4f7b14"
            ]
        ]
    },
    {
        "id": "7de15541.d2a8bc",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 937.772705078125,
        "y": 4145.333313941956,
        "wires": []
    },
    {
        "id": "5d3b24b.b610edc",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/wc\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 644.685791015625,
        "y": 4147.560608863831,
        "wires": [
            [
                "7de15541.d2a8bc"
            ]
        ]
    },
    {
        "id": "6c61efe.e2c5b1",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/wc",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 195,
        "y": 4153.333313941956,
        "wires": [
            [
                "2b2fd651.49c6fa"
            ]
        ]
    },
    {
        "id": "2b2fd651.49c6fa",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 4154.333313941956,
        "wires": [
            [
                "5d3b24b.b610edc"
            ]
        ]
    },
    {
        "id": "572b4ef6.2df5f",
        "type": "mongodb out",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 933.772705078125,
        "y": 4239.333313941956,
        "wires": []
    },
    {
        "id": "625dc83d.507f48",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nmsg.payload.topic = \"infind/GRUPO2/datos/salon\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 641.685791015625,
        "y": 4241.560608863831,
        "wires": [
            [
                "572b4ef6.2df5f"
            ]
        ]
    },
    {
        "id": "ca6e81fe.65cca",
        "type": "mqtt in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/datos/salon",
        "qos": "2",
        "broker": "8fab76dc.3e75b8",
        "x": 217,
        "y": 4241.333313941956,
        "wires": [
            [
                "fcef84a9.bc42f8"
            ]
        ]
    },
    {
        "id": "fcef84a9.bc42f8",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 449,
        "y": 4243.333313941956,
        "wires": [
            [
                "625dc83d.507f48"
            ]
        ]
    },
    {
        "id": "99fb8e45.b19ca",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "javi",
        "info": "e",
        "x": 124,
        "y": 3930.3333139419556,
        "wires": []
    },
    {
        "id": "223b634b.923d6c",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Frank",
        "info": "e",
        "x": 127,
        "y": 4036.3333139419556,
        "wires": []
    },
    {
        "id": "d81265c9.8f01a8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Leo",
        "info": "e",
        "x": 147,
        "y": 4212.333313941956,
        "wires": []
    },
    {
        "id": "6ae0e922.284418",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Juanjo",
        "info": "e",
        "x": 135,
        "y": 4124.333313941956,
        "wires": []
    },
    {
        "id": "f14ae36e.fc575",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 376,
        "y": 4462.696779251099,
        "wires": [
            [
                "927d8823.9b0768"
            ]
        ]
    },
    {
        "id": "acc49c7.cfed26",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 409.0000190734863,
        "y": 4358.697014808655,
        "wires": [
            [
                "5599bdc4.09fe14"
            ]
        ]
    },
    {
        "id": "306acfb5.57441",
        "type": "json",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 441,
        "y": 4584.696779251099,
        "wires": [
            [
                "78c471d9.c96c4"
            ]
        ]
    },
    {
        "id": "72fd38a.ce6d2c8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "estado casa",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se va a mostrar el estado de cada parte de la casa",
        "parseMode": "",
        "x": 529,
        "y": 3438,
        "wires": []
    },
    {
        "id": "1f0fb118.73963f",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1692.9999694824219,
        "y": 1987.9999866485596,
        "wires": []
    },
    {
        "id": "9250cd89.d1358",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1691.3777770996094,
        "y": 2022.9147815704346,
        "wires": []
    },
    {
        "id": "9112ec95.c89d7",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1701.3777770996094,
        "y": 2060.0966663360596,
        "wires": []
    },
    {
        "id": "26a4004c.a59da",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1706.3777770996094,
        "y": 2092.0966663360596,
        "wires": []
    },
    {
        "id": "cbce8cf9.24a95",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1708.3778076171875,
        "y": 2136.82373046875,
        "wires": []
    },
    {
        "id": "3df7bda1.fc9762",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1706.755615234375,
        "y": 2171.738525390625,
        "wires": []
    },
    {
        "id": "7bea131c.2ac88c",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1716.755615234375,
        "y": 2208.92041015625,
        "wires": []
    },
    {
        "id": "c463b9.c2374c48",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1721.755615234375,
        "y": 2240.92041015625,
        "wires": []
    },
    {
        "id": "f93c081.179cef8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1741.3778076171875,
        "y": 2286.82373046875,
        "wires": []
    },
    {
        "id": "96719d32.b601a",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1739.755615234375,
        "y": 2321.738525390625,
        "wires": []
    },
    {
        "id": "dace9a86.7e4928",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1749.755615234375,
        "y": 2358.92041015625,
        "wires": []
    },
    {
        "id": "8d98f782.c213b8",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1753.7555594742298,
        "y": 2389.9203205108643,
        "wires": []
    },
    {
        "id": "3ccce6d7.f873ca",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/cocina",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1753.3778076171875,
        "y": 2457.551025390625,
        "wires": []
    },
    {
        "id": "2bbb9f36.b3f1e",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/habitacion",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1751.755615234375,
        "y": 2492.4658203125,
        "wires": []
    },
    {
        "id": "f53a63c4.a4e8c",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/salon",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1761.755615234375,
        "y": 2529.647705078125,
        "wires": []
    },
    {
        "id": "15b9bb97.5a9674",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/led/cmd/wc",
        "qos": "",
        "retain": "",
        "broker": "11f84db6.06eda2",
        "x": 1766.755615234375,
        "y": 2561.647705078125,
        "wires": []
    },
    {
        "id": "199482a5.39ea7d",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Avisos especiales ",
        "info": "",
        "x": 830.9232711791992,
        "y": 4427.521014213562,
        "wires": []
    },
    {
        "id": "3bb20511.dc10ca",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "ultimo registro",
        "func": "msg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 368.99999618530273,
        "y": 4693.999797821045,
        "wires": [
            [
                "f6b50cb7.d6ee6"
            ]
        ]
    },
    {
        "id": "2bd3144a.9ffb4c",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 168.99997329711914,
        "y": 4694.999808311462,
        "wires": [
            [
                "3bb20511.dc10ca"
            ]
        ]
    },
    {
        "id": "788d1756.429788",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 386.99999618530273,
        "y": 4739.999797821045,
        "wires": [
            [
                "f6b50cb7.d6ee6"
            ]
        ]
    },
    {
        "id": "6a951674.2be498",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "acceder al ultimo registro/nodo de pruebas",
        "info": "e",
        "x": 304.99999618530273,
        "y": 4640.999797821045,
        "wires": []
    },
    {
        "id": "bbcaeaa0.d45518",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "ultimo registro",
        "func": "msg.mensaje=msg.payload;\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350.99993896484375,
        "y": 4791.999749183655,
        "wires": [
            [
                "a73f839e.96f48"
            ]
        ]
    },
    {
        "id": "10be7b60.f46865",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/consulta",
        "bot": "407d7e26.e9903",
        "command": "/consulta",
        "commandType": "str",
        "commandCase": false,
        "x": 155.99993896484375,
        "y": 4795.999704360962,
        "wires": [
            [
                "bbcaeaa0.d45518"
            ]
        ]
    },
    {
        "id": "f6b50cb7.d6ee6",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 694.9999961853027,
        "y": 4696.9998254776,
        "wires": [
            []
        ]
    },
    {
        "id": "a73f839e.96f48",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "find",
        "x": 672.9999084472656,
        "y": 4791.999749183655,
        "wires": [
            [
                "2944c66c.39fd3a"
            ]
        ]
    },
    {
        "id": "2944c66c.39fd3a",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "mensaje respuesta",
        "func": "var vcc=msg.payload[0].vcc;\nvar fecha=msg.payload[0].date;\nvar Temperatura=msg.payload[0].DHT11.temp;\nvar Humedad=msg.payload[0].DHT11.hum;\nmsg.payload=msg.mensaje;\n\nmsg.payload=\"El voltaje es de \"+vcc+\" voltios \\n\";\nmsg.payload+=\"Tenemos unos agradables \"+Temperatura+\" ºC \\n\";\nmsg.payload+=\"La humedad es del \"+Humedad+\" % \\n\";\nmsg.payload+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1015.699951171875,
        "y": 4787.999704360962,
        "wires": [
            [
                "7f175706.c746a8"
            ]
        ]
    },
    {
        "id": "7f175706.c746a8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1232.9999389648438,
        "y": 4776.999704360962,
        "wires": []
    },
    {
        "id": "8b6d5a92.28a318",
        "type": "ui_switch",
        "z": "cb95b8f7.9b4968",
        "name": "separdor decimal",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "26879d4b.7e9e12",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1863.0144271850586,
        "y": 4846.733903884888,
        "wires": [
            [
                "49979d95.00bf14"
            ]
        ]
    },
    {
        "id": "8dfad84.4f69b28",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1805.0114517211914,
        "y": 4768.645750999451,
        "wires": [
            [
                "49979d95.00bf14"
            ]
        ]
    },
    {
        "id": "49979d95.00bf14",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "set global separador_decimal",
        "func": "if(msg.payload===true)\n{\n    global.set(\"separador_decimal\",\"coma\");\n    msg.topic=\"separador decimal = coma\";\n}\nelse\n{\n    global.set(\"separador_decimal\",\"punto\");\n    msg.topic=\"separador decimal = punto\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2133.0228385925293,
        "y": 4769.353123664856,
        "wires": [
            [
                "8b6d5a92.28a318"
            ]
        ]
    },
    {
        "id": "11e244a2.42c5bb",
        "type": "ui_date_picker",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "label": "Fecha inicio",
        "group": "26879d4b.7e9e12",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 1961.7926979064941,
        "y": 4536.48983335495,
        "wires": [
            [
                "8ea661ab.7feaf"
            ]
        ]
    },
    {
        "id": "4ac34026.22a71",
        "type": "ui_date_picker",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "label": "Fecha final",
        "group": "26879d4b.7e9e12",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 1964.8040504455566,
        "y": 4585.484070777893,
        "wires": [
            [
                "3de495f3.c5c83a"
            ]
        ]
    },
    {
        "id": "8ea661ab.7feaf",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "desde",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2157.7983741760254,
        "y": 4535.151721000671,
        "wires": [
            []
        ]
    },
    {
        "id": "3de495f3.c5c83a",
        "type": "change",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasta",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2161.0256538391113,
        "y": 4586.03527545929,
        "wires": [
            []
        ]
    },
    {
        "id": "b3821c01.cde1c",
        "type": "inject",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1763.801197052002,
        "y": 4560.910273551941,
        "wires": [
            [
                "11e244a2.42c5bb",
                "4ac34026.22a71"
            ]
        ]
    },
    {
        "id": "55be51b8.5b806",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Controles para seleccionar fechas",
        "info": "",
        "x": 1820.8011856079102,
        "y": 4464.387557983398,
        "wires": []
    },
    {
        "id": "5d7e7577.27191c",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Selector de separador decimal",
        "info": "",
        "x": 1817.0256156921387,
        "y": 4708.30787563324,
        "wires": []
    },
    {
        "id": "83609717.be0ea8",
        "type": "http response",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=registros.csv"
        },
        "x": 2832.5078659057617,
        "y": 4373.523770332336,
        "wires": []
    },
    {
        "id": "f657f050.9ca24",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "Unicode y separador",
        "func": "//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(global.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2662.5079917907715,
        "y": 4373.523699760437,
        "wires": [
            [
                "83609717.be0ea8"
            ]
        ]
    },
    {
        "id": "e220512e.4bf94",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "consulta",
        "func": "// fecha por defecto es hoy\nvar ahora = new Date();\n// pillo los globales si los hay, si no la fecha de hoy\nvar desde = new Date(global.get(\"desde\") || ahora);\nvar hasta = new Date(global.get(\"hasta\") || ahora); \n// el día de inicio desde las cero horas\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\n// el día final es hasta final del día\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"date\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\": 0,\n        \"date\": 1,\n        \"temp\": \"$DHT11.Temperatura\",\n        \"hum\": \"$DHT11.Humedad\",\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1904.508113861084,
        "y": 4379.523387908936,
        "wires": [
            [
                "a43810db.35d7a",
                "5e247bee.a198c4"
            ]
        ]
    },
    {
        "id": "eccb4ff1.8cfdc",
        "type": "http in",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "url": "/registros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1741.5080757141113,
        "y": 4379.523366928101,
        "wires": [
            [
                "e220512e.4bf94"
            ]
        ]
    },
    {
        "id": "259e3c57.c4ad44",
        "type": "ui_template",
        "z": "cb95b8f7.9b4968",
        "group": "26879d4b.7e9e12",
        "name": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1760.508098602295,
        "y": 4271.523200035095,
        "wires": [
            []
        ]
    },
    {
        "id": "a43810db.35d7a",
        "type": "mongodb in",
        "z": "cb95b8f7.9b4968",
        "mongodb": "c5464916.ceffc8",
        "name": "",
        "collection": "datos/GRUPO2_json",
        "operation": "aggregate",
        "x": 2199.5222969055176,
        "y": 4379.529048919678,
        "wires": [
            [
                "7ad391f7.71277",
                "9a73cc7d.ab6d5"
            ]
        ]
    },
    {
        "id": "7ad391f7.71277",
        "type": "csv",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "date, temp, hum",
        "skip": 0,
        "x": 2481.5081367492676,
        "y": 4373.523676872253,
        "wires": [
            [
                "f657f050.9ca24"
            ]
        ]
    },
    {
        "id": "8255736e.34b41",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Botón en HTML para lanzar descarga de fichero",
        "info": "",
        "x": 1870.2978553771973,
        "y": 4223.605653762817,
        "wires": []
    },
    {
        "id": "66f44863.32a7b8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "Flujo para descarga de fichero",
        "info": "",
        "x": 1812.5222816467285,
        "y": 4321.529020309448,
        "wires": []
    },
    {
        "id": "5e247bee.a198c4",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2185.8335571289062,
        "y": 4244.999963760376,
        "wires": []
    },
    {
        "id": "9a73cc7d.ab6d5",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2535,
        "y": 4263.66650390625,
        "wires": []
    },
    {
        "id": "af8fb797.da7ca8",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 839.6735801696777,
        "y": 3874.4445667266846,
        "wires": []
    },
    {
        "id": "cc80a675.6a69e8",
        "type": "comment",
        "z": "cb95b8f7.9b4968",
        "name": "PREGUNTAR AL PROFESOR SOBRE ESTO",
        "info": "",
        "x": 2360.0157012939453,
        "y": 4413.750178337097,
        "wires": []
    },
    {
        "id": "2bffdd46.7b1132",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 868.2292175292969,
        "y": 4011.222213745117,
        "wires": []
    },
    {
        "id": "d6fb9960.407518",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1214.8334426879883,
        "y": 3158.6806602478027,
        "wires": []
    },
    {
        "id": "3402c984.102fb6",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch bienvenida",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "¡Hola! Soy el bot del grupo 2, ¿En que puedo ayudarte?",
        "answers": [
            "Encender",
            "Apagar",
            "Ver estado",
            "Tutorial",
            "tiempo de recogida"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 133.8958740234375,
        "y": 1590.4447975158691,
        "wires": [
            [
                "1147cc5.9871434"
            ],
            [
                "859317dc.9f0a78"
            ],
            [
                "8e9de4d1.546c88"
            ],
            [
                "9c9f3e3e.c122b"
            ],
            [
                "f3736886.d575c8"
            ],
            [
                "e936cbcd.f0a6e8"
            ]
        ]
    },
    {
        "id": "e936cbcd.f0a6e8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 170.8958854675293,
        "y": 1725.444694519043,
        "wires": []
    },
    {
        "id": "e853cf76.711fd",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "Ayuda",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 676.8958358764648,
        "y": 1524.999963760376,
        "wires": []
    },
    {
        "id": "9c9f3e3e.c122b",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "ayuda mensaje",
        "func": "msg.payload = \"¿Estás un poco perdido? Tranquilo, yo te ayudo. \\n\";\nmsg.payload += \"En primer lugar puedes utilizar el comando /encender o /apagar para modificar las luces. \\n\";\nmsg.payload += \"Una vez lo hagas podrás elegir qué quieres enceder, tienes varios niveles para elegir. \\n\";\nmsg.payload += \"Por otro lado tienes el comando /estado para comprobar cierta información de cada rincón de la casa. \\n\";\nmsg.payload += \"También tienes la opcion de cambiar el tiempo de recogida de datos con el comando /tiempo, para no saturarte de información. \\n\";\nmsg.payload += \"Hay otros mensajes que se envian automaticamente si ocurren situaciones concretas, como por ejemplo, que se abra la puerta de la casa o que tengas un nivel de humo demasiado alto. \\n\";\nmsg.payload += \"¿No me crees? Pues metele fuego a la casa para que veas lo efectivo que soy ^^. \\n\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 422.8958435058594,
        "y": 1562,
        "wires": [
            [
                "e853cf76.711fd"
            ]
        ]
    },
    {
        "id": "19dee5b5.dd749a",
        "type": "mqtt out",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "topic": "infind/GRUPO2/RECOGIDA/cocina",
        "qos": "",
        "retain": "",
        "broker": "8fab76dc.3e75b8",
        "x": 942.9521789550781,
        "y": 3771.7640647888184,
        "wires": []
    },
    {
        "id": "2fbe402c.3adfe",
        "type": "telegrambot-command",
        "z": "cb95b8f7.9b4968",
        "name": "/tiempo",
        "bot": "407d7e26.e9903",
        "command": "/tiempo",
        "commandType": "str",
        "commandCase": false,
        "x": 55,
        "y": 3666.1118812561035,
        "wires": [
            [
                "f3736886.d575c8"
            ]
        ]
    },
    {
        "id": "f3736886.d575c8",
        "type": "telegrambot-switch",
        "z": "cb95b8f7.9b4968",
        "name": "switch tiempo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "question": "Que tiempo de recogida de datos quieres?",
        "answers": [
            "1 segundo",
            "10 segundo",
            "30 segundos",
            "1 minuto",
            "5 minutos"
        ],
        "outputs": 6,
        "autoAnswerCallback": false,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 323.0000762939453,
        "y": 3663.8901977539062,
        "wires": [
            [
                "bb994458.799538"
            ],
            [
                "1dedd397.38f68c"
            ],
            [
                "fff2ec81.f7d34"
            ],
            [
                "f1ce99a3.6b9888"
            ],
            [
                "2266dbc.ac3c024"
            ],
            [
                "d57be3f2.eee94"
            ]
        ]
    },
    {
        "id": "bb994458.799538",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "1 segundo",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"nivel\": 1000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 567.8959045410156,
        "y": 3614.778102874756,
        "wires": [
            [
                "449ac9c4.261748",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "1dedd397.38f68c",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "10 segundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"nivel\": 10000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 571.9999847412109,
        "y": 3657.7780570983887,
        "wires": [
            [
                "863aee33.57fb1",
                "6135d115.1f188",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "fff2ec81.f7d34",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "30 segundos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"nivel\": 30000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 577.9999847412109,
        "y": 3702.7780570983887,
        "wires": [
            [
                "206b276c.840308",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "f1ce99a3.6b9888",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "1 minuto",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"nivel\": 60000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 568.9999847412109,
        "y": 3745.7780570983887,
        "wires": [
            [
                "aa39e70e.bbebd8",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "2266dbc.ac3c024",
        "type": "function",
        "z": "cb95b8f7.9b4968",
        "name": "5 minutos",
        "func": "msg.payload=msg.mensaje;\n\nmsg.payload= {\"nivel\": 300000};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 566.9999847412109,
        "y": 3789.0002250671387,
        "wires": [
            [
                "198569e6.198b46",
                "19dee5b5.dd749a"
            ]
        ]
    },
    {
        "id": "d57be3f2.eee94",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "TimeOut",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se acabo el tiempo bru",
        "parseMode": "",
        "x": 391.00001525878906,
        "y": 3769.1115531921387,
        "wires": []
    },
    {
        "id": "449ac9c4.261748",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 1 segundo",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 1 segundo",
        "parseMode": "",
        "x": 860.8957824707031,
        "y": 3486.668294906616,
        "wires": []
    },
    {
        "id": "863aee33.57fb1",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 10 segundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 10 segundos",
        "parseMode": "",
        "x": 853.8958435058594,
        "y": 3525.669164657593,
        "wires": []
    },
    {
        "id": "206b276c.840308",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 30 segundos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 30 segundos",
        "parseMode": "",
        "x": 865.8959426879883,
        "y": 3558.669219970703,
        "wires": []
    },
    {
        "id": "aa39e70e.bbebd8",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 1 minuto",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 1 minuto",
        "parseMode": "",
        "x": 821.896125793457,
        "y": 3611.890820503235,
        "wires": []
    },
    {
        "id": "198569e6.198b46",
        "type": "telegrambot-notify",
        "z": "cb95b8f7.9b4968",
        "name": "respuesta 5 minutos",
        "bot": "407d7e26.e9903",
        "chatId": "",
        "message": "Se ha establecido el tiempo en 5 minutos",
        "parseMode": "",
        "x": 834.8959655761719,
        "y": 3651.8903884887695,
        "wires": []
    },
    {
        "id": "6135d115.1f188",
        "type": "debug",
        "z": "cb95b8f7.9b4968",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 864.8403167724609,
        "y": 3713.333351135254,
        "wires": []
    },
    {
        "id": "407d7e26.e9903",
        "type": "telegrambot-config",
        "z": "",
        "botname": "pruebasjj_bot",
        "usernames": "",
        "chatIds": "",
        "pollInterval": "300"
    },
    {
        "id": "c5464916.ceffc8",
        "type": "mongodb",
        "z": "",
        "hostname": "iot.ac.uma.es",
        "connectOptions": "",
        "port": "27017",
        "db": "II2",
        "name": ""
    },
    {
        "id": "8fab76dc.3e75b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "11f84db6.06eda2",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "26879d4b.7e9e12",
        "type": "ui_group",
        "z": "",
        "name": "Grupo descarga",
        "tab": "b7ed1dac.34a86",
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "b7ed1dac.34a86",
        "type": "ui_tab",
        "z": "",
        "name": "Ejemplo descarga",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
